@import '../iux-base/base';
@import '../iux-grid/grid';
@import '../iux-typography/typography';

.iux-tabs--horizontal {
  border-bottom: solid 1px var(--graphite03);
  display: block;

  & .iux-tabs--tab {
    color: var(--graphite06);
    display: inline-block;
    margin: 0 10px 0 0;
    max-width: 150px;
    min-width: 40px;
    overflow: hidden;
    padding: 12px 11px;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;

    &::before {
      background-color: transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      transition: background-color 0.25s ease;
      width: 0;
    }

    &:hover:not(.iux-tabs--tab--disabled) {
      color: var(--graphite10);
      text-decoration: none;

      &::before {
        background-color: var(--graphite10);
        width: 100%;
      }
    }

    &.iux-tabs--tab--active {
      color: var(--azure06);

      &::before {
        background-color: var(--azure06);
        width: 100%;
      }
    }

    &.iux-tabs--tab--disabled {
      color: var(--graphite04);

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}

.iux-tabs--vertical {
  background-color: var(--graphite01);
  display: block;

  & .iux-tabs--tab {
    color: inherit;
    display: block;
    padding: 10px 30px;
    text-decoration: none;

    &:hover:not(.iux-tabs--tab--disabled) {
      background-color: var(--graphite02);
    }

    &.iux-tabs--tab--active {
      background-color: var(--azure06);
      color: #fff;
    }

    &.iux-tabs--tab--disabled {
      color: var(--graphite04);

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
