/* stylelint-disable comment-empty-line-before, custom-property-empty-line-before */

/* @start brandColors */
:root {
  --soho-primary: var(--azure06);
  --soho-warning: var(--ruby06);
}
/* @end brandColors */

/* @start alertColors */
:root {
  --alert-green: #80ce4d;
  --alert-info: var(--azure06);
  --alert-neutral: var(--graphite03);
  --alert-orange: #ff9426;
  --alert-red: #e84f4f;
  --alert-yellow: #ffd726;
}
/* @end alertColors */

/* @start bodySettings */
:root {
  --body-bg: var(--graphite01);
  --body-color: var(--graphite06);
}
/* @end bodySettings */

/* @start font  */
:root {
  --font-family-base: helvetica, arial;
  --font-size-base: 1.4rem;
  --font-size-lg: 1.8rem;
  --font-size-sm: 0.85rem;
  --font-size-h1: 2.8rem;
  --font-size-h2: 2.4rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.6rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --line-height-base: 1.5;
  --text-alert: var(--alert-red);
  --text-disabled: var(--graphite04);
}
/* @end font  */

/* @start headings */
:root {
  --headings-color: var(--body-color);
  --headings-font-family: helvetica, arial;
  --headings-font-weight: 400;
  --headings-line-height: normal;
  --headings-margin-bottom: 0.5rem;
}
/* @end headings */

/* @start buttons */
:root {
  --btn-default-bg: var(--graphite03);
  --btn-default-color: var(--graphite08);
  --btn-default-hover: var(--graphite04);
  --btn-disabled-opacity: 0.5;
  --btn-line-height: 2.2rem;
}
/* @end buttons */

/* @start buttonPrimary */
:root {
  --btn-primary-bg: var(--soho-primary);
  --btn-primary-color: var(--white);
  --btn-primary-hover: var(--azure07);
}
/* @end buttonPrimary */

/* @start buttonWarning */
:root {
  --btn-warning-bg: var(--soho-warning);
  --btn-warning-color: var(--white);
  --btn-warning-hover: var(--ruby07);
}
/* @end buttonWarning */

/* @start buttonLink */
:root {
  --btn-link-bg: transparent;
  --btn-link-color: var(--graphite06);
  --btn-link-hover: var(--graphite10);
}
/* @end buttonLink */

/* @start icons */
:root {
  --icon-fill: var(--graphite04);
  --icon-height: 16px;
  --icon-width: 22px;
}
/* @end icons */

/* @start inputs */
:root {
  --input-bg: transparent;
  --input-bg-disabled: transparent;
  --input-bg-readonly: var(--graphite02);
  --input-border-color: var(--graphite04);
  --input-border-color-disabled: var(--graphite03);
  --input-border-color-focus: var(--soho-primary);
  --input-border-color-hover: var(--graphite08);
  --input-border-color-readonly: var(--input-border-color);
  --input-border-radius: 2px;
  --input-border-size: 1px;
  --input-border-width: 1px;
  --input-color: var(--graphite10);
  --input-color-disabled: var(--text-disabled);
  --input-color-readonly: var(--graphite10);
  --input-color-placeholder: var(--graphite04);
  --input-height: 3.4rem;
  --input-info-block-color: var(--graphite04);
  --input-label-color: var(--graphite06);
  --input-line-height: calc(var(--input-height) - (2 * var(--input-padding-y)) - (2 * var(--input-border-size)));
  --input-padding-x: 6px;
  --input-padding-y: 8px;
  --input-transition: border 300ms ease 0s, box-shadow 300ms ease 0s;
}
/* @end inputs */

/* @start selects */
:root {
  --select-bg-caret: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+ZHJvcGRvd248L3RpdGxlPjxwYXRoIGQ9Ik00IDZsNSA2IDUtNkg0eiIvPjwvc3ZnPg==);
}
/* @end selects */

/* @start inputSizes */
:root {
  --input-size-xs: 75px;
  --input-size-sm: 150px;
  --input-size-md: 300px;
  --input-size-lg: 400px;
}
/* @end inputSizes */

/* @start adaptiveInputs */
:root {
  --input-height-adaptive-touch: calc(var(--input-height) + 1rem);
  --input-line-height-adaptive-touch: calc(var(--input-height-adaptive-touch) - (2 * var(--input-padding-y)) - (2 * var(--input-border-size)));
  --input-padding-adaptive-touch: calc((var(--input-height-adaptive-touch) - var(--line-height-base)) / 2);
  --radio-inner-h-adaptive-touch: calc(var(--radio-outer-h-adaptive-touch) - 8);
  --radio-inner-w-adaptive-touch: var(--radio-inner-h-adaptive-touch);
  --radio-outer-h-adaptive-touch: calc(var(--radio-outer-h) * 1.3);
  --radio-outer-w-adaptive-touch: calc(var(--radio-outer-h-adaptive-touch) + 1);
}
/* @end adaptiveInputs */

/* @start checkboxes */
:root {
  --checkbox-arrow-color: var(--white);
  --checkbox-arrow-color-disabled: #f4f4f4;
  --checkbox-border-color: var(--graphite04);
  --checkbox-border-color-disabled: var(--graphite03);
  --checkbox-bg: var(--white);
  --checkbox-bg-disabled: var(--checkbox-bg);
  --checkbox-bg-disabled-checked: var(--graphite03);
  --checkbox-shadow-focus: 0 0 0 2px var(--body-bg), 0 0 0 3px var(--checkbox-color);
  --checkbox-color: var(--soho-primary);

  --checkbox-box-h: 16px;
  --checkbox-box-w: var(--checkbox-box-h);
  --checkbox-check-h: 10px;
  --checkbox-check-w: 5px;
}
/* @end checkboxes */

/* @start radios */
:root {
  --radio-bg: var(--white);
  --radio-bg-checked: var(--soho-primary);
  --radio-bg-disabled: var(--radio-bg);
  --radio-bg-disabled-checked: var(--graphite03);
  --radio-border-color: var(--graphite04);
  --radio-border-color-disabled: var(--graphite03);
  --radio-color: var(--white);
  --radio-shadow-focus: var(--checkbox-shadow-focus);

  --radio-outer-h: 18px;
  --radio-outer-w: var(--radio-outer-h);
  --radio-inner-h: calc(var(--radio-outer-h) - 8);
  --radio-inner-w: var(--radio-inner-h);
}
/* @end radios */

/* @start breakpoints */
:root {
  --breakpoint-sm: 400px;
  --breakpoint-md: 840px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1440px;
}
/* @end breakpoints */

:root {
  @custom-media --viewport-sm (min-width: 400px);
  @custom-media --viewport-md (min-width: 840px);
  @custom-media --viewport-lg (min-width: 1280px);
  @custom-media --viewport-xl (min-width: 1440px);
}
/* stylelint-enable comment-empty-line-before, custom-property-empty-line-before */
