/* stylelint-disable comment-empty-line-before, custom-property-empty-line-before */

/* @start cssVariables */
:root {
  --alert-green: var(--emerald10);

  --body-bg: var(--graphite02);
  --body-color: var(--black);
  --link-color: var(--azure09);
  --link-color-hover: var(--link-color);

  --text-disabled: var(--graphite04);

  --headings-color: var(--body-color);

  --btn-default-bg: var(--slate03);
  --btn-default-color: var(--slate10);
  --btn-default-hover: var(--slate04);

  --btn-primary-bg: var(--graphite07);

  --btn-primary-bg: var(--azure09);

  --btn-link-color: var(--graphite09);
  --btn-link-hover: var(--black);

  --icon-fill: var(--slate03);

  --input-info-block-color: var(--graphite05);
  --input-label-color: var(--graphite09);

  --input-bg: var(--white);
  --input-border-color: var(--graphite04);
  --input-color: var(--body-color);

  --input-bg: var(--white);
  --input-border-color-disabled: var(--slate05);

  --input-bg: var(--white);
  --input-border-color-hover: var(--graphite10);

  --input-bg: var(--white);
  --input-border-color-focus: var(--azure06);
}
/* @end cssVariables */

/* stylelint-enable comment-empty-line-before, custom-property-empty-line-before */
