@define-mixin checkboxGroupSetup {
  display: block;
  margin: calc(var(--number-spacing-base) * 2) 0;
  position: relative;

  & label,
  & input {
    cursor: pointer;
  }

  & label {
    display: inline-block;
    position: relative;
  }

  & input {
    position: absolute;
    top: calc(50% - 9px);
  }

  &.is-disabled label,
  & input:disabled {
    cursor: not-allowed;
  }
}
