html[lang='ar-EG'],
html[lang='ar-SA'] {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', 'Tahoma', 'DejaVu';
}

html[lang='ja-JP'] {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', 'MS PGothic';
}

html[lang='ko-KR'] {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', 'Batang', 'Gulim';
}

html[lang='zh-CN'] {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', 'Microsoft YaHei New', '微软雅黑', '宋体', 'SimSun', 'STXihei', '华文细黑';
}

html[lang='zh-tw'] {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', 'MingLiU';
}

/*
  Base Styles
  - Change the default font family in all browsers.
  -  Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
*/

body {
  background-color: var(--body-color-primary-background);
  color: var(--body-color-primary-font);
  font-family: var(--theme-font-family-base);
  font-size: var(--theme-size-font-base);
  height: 100%;
  line-height: 1;
}

.ids-container {
  padding: calc(var(--theme-number-spacing-base) * 2);
}

@media (--viewport-md) {
  .ids-container {
    padding: calc(var(--theme-number-spacing-base) * 3);
  }
}

h1,
.ids-header--primary {
  font-size: var(--theme-size-font-xl);
  margin-bottom: calc(var(--theme-number-spacing-base) * 3);
  margin-top: calc(var(--theme-number-spacing-base) * 4);
}

h2,
.ids-header--secondary {
  font-size: var(--theme-size-font-lg);
  line-height: 1.5;
  margin-bottom: calc(var(--theme-number-spacing-base) * 2);
  margin-top: calc(var(--theme-number-spacing-base) * 3);
}

h3,
.ids-header--tertiary {
  font-size: var(--theme-size-font-md);
  line-height: 1.6;
}

h4 {
  font-size: var(--theme-size-font-base);
  line-height: 1.5;
}

h5,
h6 {
  font-size: var(--theme-size-font-sm);
  line-height: 1.7;
}

h3,
h4,
h5,
h6 {
  font-weight: var(--theme-number-font-weight-bold);
  margin-bottom: calc(var(--theme-number-spacing-base) * 2);
  margin-top: calc(var(--theme-number-spacing-base) * 2);
}

p {
  line-height: var(--theme-size-line-height-base);
  margin-bottom: calc(var(--theme-number-spacing-base) * 2);
  margin-top: calc(var(--theme-number-spacing-base) * 2);
}

strong,
.ids-text--strong {
  font-weight: var(--theme-number-font-weight-bold);
}

em,
.ids-text--emphasis {
  font-style: italic;
}

small,
.ids-text--small {
  font-size: var(--theme-size-font-sm);
  font-weight: var(--theme-number-font-weight-base);
}

.ids-text--center { text-align: center; }
.ids-text--left { text-align: left; }
.ids-text--right { text-align: right; }

.ids-text--muted { color: var(--theme-color-font-muted); }
.ids-text--alert { color: var(--theme-color-status-danger); }

a,
.ids-text--link {
  color: var(--theme-color-brand-primary-base);
  cursor: pointer;
  text-decoration: var(--link-font-initial-decoration);

  &:hover {
    color: var(--link-color-hover-font);
    text-decoration: underline;
  }

  &[disabled] {
    color: var(--theme-color-brand-secondary-alt);
    cursor: not-allowed;

    & .ids-icon {
      fill: var(--theme-color-brand-secondary-alt);
    }
  }

  &:focus,
  &.has-focus {
    border-radius: 2px;
    box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 3px var(--theme-color-brand-primary-base);
    outline: 0;
  }

  &:visited {
    color: var(--link-color-visited-font);

    & .ids-icon {
      fill: var(--link-color-visited-font);
    }
  }

  & .ids-icon {
    fill: var(--link-color-hover-font);
  }
}

/*
 * Tables
 */

table {
  margin-bottom: calc(var(--theme-number-spacing-base) * 2);
  margin-top: calc(var(--theme-number-spacing-base) * 2);
}

/*
 * Lists
 */

ul,
ol {
  margin-bottom: calc(var(--theme-number-spacing-base) * 2);
  margin-top: calc(var(--theme-number-spacing-base) * 2);

  & li {
    line-height: var(--theme-size-line-height-base);
  }

  /* nested ul/ol */
  & ul,
  & ol {
    margin-bottom: 0;
    margin-left: 15px;
    margin-top: 0;
  }

  /* nested ul's */
  & ul {
    list-style-type: circle;
  }

  /* nested ol's */
  & ol {
    list-style-type: lower-latin;
  }
}

/*
 * Pre & Code
 */

code,
pre {
  font-family: var(--theme-font-family-monospace);
  font-size: calc(var(--theme-size-font-sm) - 0.2rem);
  line-height: var(--theme-size-line-height-base);
}

code {
  background-color: #f7f7f9;
  border: 1px solid #e1e8e8;
  border-radius: 0.25rem 0.25rem 0 0;
  color: #6b6e76;
  padding: 0 4px;
}

pre > code {
  background-color: transparent;
  border: none;
  font-size: inherit;
  padding: 0;
  white-space: pre;
}

pre > code pre {
  background-color: #f7f7f9;
  border: 1px solid #e1e8e8;
  border-radius: 0.25rem 0.25rem 0 0;
  line-height: 32px;
  line-height: 2rem;
  overflow-x: scroll;
  padding: 15px;
}

kbd {
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 4px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-family: var(--theme-font-family-monospace);
  font-size: var(--theme-size-font-sm);
  line-height: 10px;
  padding: 5px 8px;
  vertical-align: middle;
}
