html[lang='ar-EG'],
html[lang='ar-SA'] {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', 'Tahoma', 'DejaVu';
}

html[lang='ja-JP'] {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', 'MS PGothic';
}

html[lang='ko-KR'] {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', 'Batang', 'Gulim';
}

html[lang='zh-CN'] {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', 'Microsoft YaHei New', '微软雅黑', '宋体', 'SimSun', 'STXihei', '华文细黑';
}

html[lang='zh-tw'] {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', 'MingLiU';
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
}

h1,
.ids-header--primary {
  font-size: var(--font-size-xl);
  margin-bottom: 10px;
  margin-top: 20px;
}

h2,
h3,
h4,
h5,
h6,
.ids-header--secondary {
  font-size: var(--font-size-lg);
  margin-bottom: 10px;
  margin-top: 20px;
}

p {
  line-height: var(--line-height-base);
  margin-bottom: 10px;
  margin-top: 0;
}

strong,
.ids-text-strong {
  font-weight: var(--font-weight-bold);
}

em,
.ids-text-emphasis {
  font-style: italic;
}

small,
.ids-text-small {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
}

.ids-text-muted { color: var(--color-muted); }
.ids-text-alert { color: var(--color-danger); }

a,
.ids-text-link {
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
  }

  &[disabled] {
    color: var(--color-default-alt);
    cursor: not-allowed;

    & .ids-icon {
      fill: var(--color-default-alt);
    }
  }

  &:focus,
  &.has-focus {
    border-radius: 2px;
    box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 3px var(--color-primary);
    outline: 0;
  }

  &:visited {
    color: var(--link-visited-color);

    & .ids-icon {
      fill: var(--link-visited-color);
    }
  }

  & .ids-icon {
    fill: var(--link-hover-color);
  }
}

/*
 * Lists
 */

ul,
ol {
  list-style-position: inside;

  & li {
    line-height: var(--line-height-base);
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul ul,
ol ul {
  list-style-type: circle;
  margin-left: 15px;
}

ol ol,
ul ol {
  list-style-type: lower-latin;
  margin-left: 15px;
}

ol.ids-list--plain,
ul.ids-list--plain {
  list-style-type: none;
}

/* counter the "ul ul" and "ol ol" styles above */
ol.ids-list--plain ol.ids-list--plain,
ol.ids-list--plain ul.ids-list--plain,
ul.ids-list--plain ul.ids-list--plain,
ul.ids-list--plain ol.ids-list--plain {
  list-style-type: none;
  margin-left: 0;
}
