html[lang='ar-EG'],
html[lang='ar-SA'] {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', 'Tahoma', 'DejaVu';
}

html[lang='ja-JP'] {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', 'MS PGothic';
}

html[lang='ko-KR'] {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', 'Batang', 'Gulim';
}

html[lang='zh-CN'] {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', 'Microsoft YaHei New', '微软雅黑', '宋体', 'SimSun', 'STXihei', '华文细黑';
}

html[lang='zh-tw'] {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', 'MingLiU';
}

/*
  Base Styles
  - Change the default font family in all browsers.
  -  Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
*/

body {
  background-color: var(--body-bg-color-primary);
  color: var(--body-text-color);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  height: 100%;
  line-height: 1;
}

.ids-container {
  padding: calc(var(--spacing-base) * 2);
}

@media (--viewport-md) {
  .ids-container {
    padding: calc(var(--spacing-base) * 3);
  }
}

h1,
.ids-header--primary {
  font-size: var(--font-size-xl);
  margin-bottom: calc(var(--spacing-base) * 3);
  margin-top: calc(var(--spacing-base) * 4);
}

h2,
.ids-header--secondary {
  font-size: var(--font-size-lg);
  margin-bottom: calc(var(--spacing-base) * 2);
  margin-top: calc(var(--spacing-base) * 3);
}

h3,
h4,
h5,
h6 {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  margin-bottom: calc(var(--spacing-base) * 2);
  margin-top: calc(var(--spacing-base) * 2);
}

p {
  line-height: var(--line-height-base);
  margin-bottom: calc(var(--spacing-base) * 2);
  margin-top: calc(var(--spacing-base) * 2);
}

strong,
.ids-text--strong {
  font-weight: var(--font-weight-bold);
}

em,
.ids-text--emphasis {
  font-style: italic;
}

small,
.ids-text--small {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
}

.ids-text--center { text-align: center; }
.ids-text--left { text-align: left; }
.ids-text--right { text-align: right; }

.ids-text--muted { color: var(--text-color-muted); }
.ids-text--alert { color: var(--color-danger); }

a,
.ids-text--link {
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: var(--link-decoration);

  &:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
  }

  &[disabled] {
    color: var(--color-default-alt);
    cursor: not-allowed;

    & .ids-icon {
      fill: var(--color-default-alt);
    }
  }

  &:focus,
  &.has-focus {
    border-radius: 2px;
    box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 3px var(--color-primary);
    outline: 0;
  }

  &:visited {
    color: var(--link-visited-color);

    & .ids-icon {
      fill: var(--link-visited-color);
    }
  }

  & .ids-icon {
    fill: var(--link-hover-color);
  }
}

/*
 * Tables
 */

table {
  margin-bottom: calc(var(--spacing-base) * 2);
  margin-top: calc(var(--spacing-base) * 2);
}

/*
 * Lists
 */

ul,
ol {
  margin-bottom: calc(var(--spacing-base) * 2);
  margin-left: 2rem;
  margin-top: calc(var(--spacing-base) * 2);

  & li {
    line-height: var(--line-height-base);
  }

  & ul,
  & ol {
    margin-bottom: 0;
    margin-top: 0;
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul ul,
ol ul {
  list-style-type: circle;
  margin-left: 15px;
}

ol ol,
ul ol {
  list-style-type: lower-latin;
  margin-left: 15px;
}

/*
 * Pre & Code
 */

code,
pre {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-sm);
  letter-spacing: -1px;
  line-height: var(--line-height-base);
}

code {
  background-color: #f7f7f9;
  border: 1px solid #e1e8e8;
  border-radius: 0.25rem 0.25rem 0 0;
  color: #6b6e76;
  padding: 0 4px;
}

pre > code {
  background-color: transparent;
  border: none;
  font-size: inherit;
  padding: 0;
}

pre > code pre {
  background-color: #f7f7f9;
  border: 1px solid #e1e8e8;
  border-radius: 0.25rem 0.25rem 0 0;
  line-height: 32px;
  line-height: 2rem;
  overflow-x: scroll;
  padding: 15px;
}

kbd {
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-family: var(--font-family-monospace);
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}
