@import '../iux-base/base';
@import '../iux-typography/typography';
@import '../iux-button/button';

.iux-icon {
  color: inherit;
  display: inline-block;
  fill: var(--icon-fill);
  height: var(--icon-height);
  position: relative;
  vertical-align: text-bottom;
  width: var(--icon-width);
}
