/* stylelint-disable comment-empty-line-before, custom-property-empty-line-before */

/* @start bodySettings */
:root {
  --body-bg: var(--slate07);
  --body-color: var(--white);
}
/* @end bodySettings */

/* @start font  */
:root {
  --text-disabled: var(--graphite05);
}
/* @end font  */

/* @start headings */
:root {
  --headings-color: var(--body-color);
}
/* @end headings */

/* @start buttons */
:root {
  --btn-default-bg: var(--slate03);
  --btn-default-color: var(--slate10);
  --btn-default-hover: var(--slate04);
}
/* @end buttons */

/* @start buttonLink */
:root {
  --btn-link-color: var(--graphite04);
  --btn-link-hover: var(--white);
}
/* @end buttonLink */

/* @start icons */
:root {
  --icon-fill: var(--slate03);
}
/* @end icons */

/* @start inputs */
:root {
  --input-border-color: var(--slate04);
  --input-border-color-disabled: var(--slate05);
  --input-border-color-hover: var(--slate02);
  --input-border-color-readonly: var(--input-border-color);
  --input-color: var(--body-color);
  --input-info-block-color: var(--slate04);
  --input-label-color: var(--slate03);
}
/* @end inputs */

/* stylelint-enable comment-empty-line-before, custom-property-empty-line-before */
