/****************************************************************
 ** !! NOTE: Preseve individual loops for cascading reasons !! **
 ****************************************************************/

/* Create basic cols with gutters */
@for $i from 1 to var(--grid-cols) {
  .ids-row--gutter .ids-row--col-$i {
    lost-column: $(i)/var(--grid-cols) 0 var(--grid-gutter-sm);
  }
}

/* Create responsive small cols with gutters */
@media (--viewport-sm) {
  @for $i from 1 to var(--grid-cols) {
    .ids-row--gutter .ids-row--col-sm-$i {
      lost-column: $(i)/var(--grid-cols) 0 var(--grid-gutter-sm);
    }
  }
}

/* Create responsive medium cols with gutters */
@media (--viewport-md) {
  @for $i from 1 to var(--grid-cols) {
    .ids-row--gutter .ids-row--col-md-$i {
      lost-column: $(i)/var(--grid-cols) 0 var(--grid-gutter-sm);
    }
  }
}

@media (--viewport-lg) {
  /* Create responsive medium cols with gutters */
  @for $i from 1 to var(--grid-cols) {
    .ids-row--gutter .ids-row--col-lg-$i {
      lost-column: $(i)/var(--grid-cols) 0 var(--grid-gutter-lg);
    }
  }

  /* Increase the basic col gutters */
  @for $i from 1 to var(--grid-cols) {
    .ids-row--gutter .ids-row--col-$i {
      lost-column: $(i)/var(--grid-cols) 0 var(--grid-gutter-lg);
    }
  }

  /* Increase responsive small col gutters */
  @for $i from 1 to var(--grid-cols) {
    .ids-row--gutter .ids-row--col-sm-$i {
      lost-column: $(i)/var(--grid-cols) 0 var(--grid-gutter-lg);
    }
  }

  /* Increase responsive medium col gutters */
  @for $i from 1 to var(--grid-cols) {
    .ids-row--gutter .ids-row--col-md-$i {
      lost-column: $(i)/var(--grid-cols) 0 var(--grid-gutter-lg);
    }
  }
}

@media (--viewport-xl) {
  /* Create responsive xlarge cols with gutters */
  @for $i from 1 to var(--grid-cols) {
    .ids-row--gutter .ids-row--col-xl-$i {
      lost-column: $(i)/var(--grid-cols) 0 var(--grid-gutter-lg);
    }
  }
}
