@lost flexbox flex;
@lost gutter 0;

:root {
  --grid-cols: 12;
  --grid-gutter-sm: calc(var(--spacing-base) * 2);
  --grid-gutter-lg: calc(var(--spacing-base) * 3);
}

.ids-row,
.ids-row--gutter {
  lost-center: 100%;
}
