.ids-icon {
  color: inherit;
  display: inline-block;
  fill: var(--color-default-alt);
  height: var(--icon-height);
  position: relative;
  vertical-align: text-bottom;
  width: var(--icon-width);
}
