.ids-icon {
  color: inherit;
  display: inline-block;
  fill: var(--icon-fill);
  height: var(--icon-height);
  padding: 0;
  position: relative;
  vertical-align: top;
  width: var(--icon-width);
}
