@import '../ids-base/base';
@import '../ids-typography/typography';
@import '../ids-form/form';
@import '../ids-button/button';

.ids-adaptive--touch {
  & .ids-btn,
  & input.ids-form-control {
    line-height: var(--input-line-height-adaptive-touch);
  }

  & select:not([size]):not([multiple]).ids-form-control {
    height: var(--input-height-adaptive-touch);
  }

  & fieldset {
    margin-bottom: var(--input-padding-adaptive-touch);
    margin-top: var(--input-padding-adaptive-touch);
  }

  & .ids-form-checkbox,
  & .ids-form-radio {
    margin-bottom: var(--input-padding-adaptive-touch);

    & label {
      padding-bottom: var(--input-padding-adaptive-touch);
      padding-top: var(--input-padding-adaptive-touch);
    }
  }

  & .ids-form-radio {
    & label {
      padding-left: calc(var(--radio-outer-w-adaptive-touch) + 5);

      &::before {
        height: var(--radio-outer-h-adaptive-touch);
        top: calc(50% - 0.5 * var(--radio-outer-h-adaptive-touch));
        width: var(--radio-outer-w-adaptive-touch);
      }

      &::after {
        height: var(--radio-inner-h-adaptive-touch);
        left: calc(var(--radio-outer-w-adaptive-touch) / 2 - var(--radio-inner-w-adaptive-touch) / 2);
        top: calc(50% - 0.5 * var(--radio-inner-h-adaptive-touch));
        width: var(--radio-inner-w-adaptive-touch);
      }
    }
  }
}
