@import '../ids-base/ids-base';
@import '../ids-typography/ids-typography';
@import '../ids-form/ids-form';
@import '../ids-button/ids-button';

:root {
  --radio-outer-adaptive-touch: calc(var(--radio-outer-h) * 1.3);
  --radio-inner-adaptive-touch: calc(var(--radio-outer-adaptive-touch) - 8px);
}

.ids-adaptive--touch {
  & .ids-btn,
  & input.ids-form-control {
    line-height: var(--input-line-height-adaptive-touch);
  }

  & select:not([size]):not([multiple]).ids-form-control {
    height: var(--input-height-adaptive-touch);
  }

  & fieldset {
    margin-bottom: var(--input-padding-adaptive-touch);
    margin-top: var(--input-padding-adaptive-touch);
  }

  & .ids-form-checkbox,
  & .ids-form-radio {
    margin-bottom: var(--input-padding-adaptive-touch);

    & label {
      padding-bottom: var(--input-padding-adaptive-touch);
      padding-top: var(--input-padding-adaptive-touch);
    }
  }

  & .ids-form-radio {
    & label {
      padding-left: calc(var(--radio-outer-adaptive-touch) + 5px);

      &::before {
        height: var(--radio-outer-adaptive-touch);
        top: calc(50% - 0.5 * var(--radio-outer-adaptive-touch));
        width: var(--radio-outer-adaptive-touch);
      }

      &::after {
        height: var(--radio-inner-adaptive-touch);
        left: calc(var(--radio-outer-adaptive-touch) / 2 - var(--radio-inner-adaptive-touch) / 2);
        top: calc(50% - 0.5 * var(--radio-inner-adaptive-touch));
        width: var(--radio-inner-adaptive-touch);
      }
    }
  }
}
