@import '../ids-base/ids-base';
@import '../ids-typography/ids-typography';
@import '../ids-form/ids-form';
@import '../ids-button/ids-button';

.ids-adaptive--touch {
  & .ids-btn,
  & input.ids-form-control {
    line-height: var(--input-line-height-adaptive-touch);
  }

  & select:not([size]):not([multiple]).ids-form-control {
    height: var(--input-height-adaptive-touch);
  }

  & fieldset {
    margin-bottom: var(--input-padding-adaptive-touch);
    margin-top: var(--input-padding-adaptive-touch);
  }

  & .ids-form-checkbox,
  & .ids-form-radio {
    margin-bottom: var(--input-padding-adaptive-touch);

    & label {
      padding-bottom: var(--input-padding-adaptive-touch);
      padding-top: var(--input-padding-adaptive-touch);
    }
  }

  & .ids-form-radio {
    & label {
      padding-left: calc(24px + 5px);

      &::before {
        /* 24px by 24px */
        height: 24px;
        top: calc(50% - (0.5 * 24px));
        width: 24px;
      }

      &::after {
        /* 16px by 16px */
        height: 16px;
        left: calc(24px / 2 - 16px / 2);
        top: calc(50% - (0.5 * 16px));
        width: 16px;
      }
    }
  }
}
