:root {
  --adaptive-touch-spacing: calc((var(--input-size-height) + 1) - (var(--theme-size-font-line-height) / 2));
  --radio-outer-adaptive-touch: calc(var(--radio-size-outer-height) * 1.3);
  --radio-inner-adaptive-touch: calc(var(--radio-outer-adaptive-touch) - 8px);
}

.ids-adaptive--touch {
  & .ids-btn,
  & input.ids-form-control {
    line-height: calc((var(--input-size-height) + 1) - (2 * var(--input-size-padding-y)) - (2 * var(--input-size-border-width)));
  }

  & select:not([size]):not([multiple]).ids-form-control {
    height: calc(var(--input-size-height) + 1);
  }

  & fieldset {
    margin-bottom: var(--adaptive-touch-spacing);
    margin-top: var(--adaptive-touch-spacing);
  }

  & .ids-form-checkbox,
  & .ids-form-radio {
    margin-bottom: var(--adaptive-touch-spacing);

    & label {
      padding-bottom: var(--adaptive-touch-spacing);
      padding-top: var(--adaptive-touch-spacing);
    }
  }

  & .ids-form-radio {
    & label {
      padding-left: calc(var(--radio-outer-adaptive-touch) + 5px);

      &::before {
        height: var(--radio-outer-adaptive-touch);
        top: calc(50% - 0.5 * var(--radio-outer-adaptive-touch));
        width: var(--radio-outer-adaptive-touch);
      }

      &::after {
        height: var(--radio-inner-adaptive-touch);
        left: calc(var(--radio-outer-adaptive-touch) / 2 - var(--radio-inner-adaptive-touch) / 2);
        top: calc(50% - 0.5 * var(--radio-inner-adaptive-touch));
        width: var(--radio-inner-adaptive-touch);
      }
    }
  }
}
