@import '../../../node_modules/@infor/ids-tokens/platforms/web/theme-default.custom-properties.css';

/*
  Base Styles

  1. Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
  2. Change the default font family in all browsers.
  3. Correct the line height in all browsers.
  4. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
  5. Setting @viewport causes scrollbars to overlap content in IE11 and Edge, so
     we force a non-overlapping, non-auto-hiding scrollbar to counteract.
  6. Change the default tap highlight to be completely transparent in iOS.
*/

html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
  height: 100%;
}

.ids-container {
  padding: var(--container-padding-sm);
}

@media (--viewport-md) {
  .ids-container {
    padding: var(--container-padding-lg);
  }
}

/*
 * Helpers
 */
.ids-text--center {
  text-align: center;
}

.ids-text--left {
  text-align: left;
}

.ids-text--right {
  text-align: right;
}

/* Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.ids-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap; /* 1 */
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.ids-visuallyhidden.focusable:active,
.ids-visuallyhidden.focusable:focus {
  clip: auto;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Media Definitions
 */
:root {
  @custom-media --viewport-xs (min-width: var(--breakpoint-xs));
  @custom-media --viewport-sm (min-width: var(--breakpoint-sm));
  @custom-media --viewport-md (min-width: var(--breakpoint-md));
  @custom-media --viewport-lg (min-width: var(--breakpoint-lg));
  @custom-media --viewport-xl (min-width: var(--breakpoint-xl));
}
