@import '../iux-base/base';

@lost flexbox flex;

.fnd-row {
  lost-center: 100%;

  &.fnd-row--gutter {
    margin-left: calc(-1 * var(--grid-gutter-sm) / 2);
    margin-right: calc(-1 * var(--grid-gutter-sm) / 2);
    max-width: none;

    & > [class^='fnd-row--col-'] {
      padding-left: calc(var(--grid-gutter-sm) / 2);
      padding-right: calc(var(--grid-gutter-sm) / 2);
    }
  }
}

@media (--viewport-md) {
  .fnd-row.fnd-row--gutter {
    margin-left: calc(-1 * var(--grid-gutter-lg) / 2);
    margin-right: calc(-1 * var(--grid-gutter-lg) / 2);

    & > [class^='fnd-row--col-'] {
      padding-left: calc(var(--grid-gutter-lg) / 2);
      padding-right: calc(var(--grid-gutter-lg) / 2);
    }
  }
}

@for $i from 1 to 12 {
  .fnd-row .fnd-row--col-$i {
    lost-column: $(i)/12 0 0;
  }

  .fnd-row--col-$i,
  .fnd-row--col-sm-$i,
  .fnd-row--col-md-$i,
  .fnd-row--col-lg-$i,
  .fnd-row--col-xl-$i {
    lost-column: 1 0 0;
  }
}

@media (--viewport-sm) {
  @for $i from 1 to 12 {
    .fnd-row .fnd-row--col-sm-$i {
      lost-column: $(i)/12 0 0;
    }
  }
}

@media (--viewport-md) {
  @for $i from 1 to 12 {
    .fnd-row .fnd-row--col-md-$i {
      lost-column: $(i)/12 0 0;
    }
  }
}

@media (--viewport-lg) {
  @for $i from 1 to 12 {
    .fnd-row .fnd-row--col-lg-$i {
      lost-column: $(i)/12 0 0;
    }
  }
}

@media (--viewport-xl) {
  @for $i from 1 to 12 {
    .fnd-row .fnd-row--col-xl-$i {
      lost-column: $(i)/12 0 0;
    }
  }
}
