/*
  Note: Leave .ids-btn without color styling so that
  it can be easily extended for custom
  colored buttons
 */

.ids-btn {
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  -webkit-font-smoothing: antialiased;
  font-weight: var(--font-weight-bold);
  padding: var(--button-padding-y) var(--button-padding-x);
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &[disabled] {
    cursor: default;
    opacity: var(--button-disabled-opacity);
  }

  &:focus,
  &.has-focus {
    box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 3px var(--color-primary);
    outline: 0;
  }

  &.ids-btn--default {
    background-color: var(--button-default-bg-color);
    color: var(--button-default-text-color);

    & .ids-icon {
      fill: var(--button-default-text-color);
    }

    &:hover {
      background-color: var(--button-default-hover-bg-color);

      &[disabled] {
        background-color: var(--button-default-bg-color);
      }
    }
  }

  &.ids-btn--primary {
    background-color: var(--button-primary-bg-color);
    color: var(--button-primary-text-color);

    & .ids-icon {
      fill: var(--button-primary-text-color);
    }

    &:hover {
      background-color: var(--button-primary-hover-bg-color);

      &[disabled] {
        background-color: var(--button-primary-bg-color);
      }
    }
  }

  &.ids-btn--link {
    background-color: transparent;
    color: var(--button-link-text-color);

    &:hover {
      color: var(--body-text-color);

      & .ids-icon {
        fill: var(--body-text-color);
      }

      &[disabled] {
        color: var(--button-link-text-color);
      }
    }

    &:focus,
    &.has-focus {
      box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 3px var(--color-primary);
      outline: 0;
    }

    &:active,
    &.is-active {
      color: var(--color-primary);

      & .ids-icon {
        fill: var(--color-primary);
      }
    }

    & .ids-icon {
      fill: var(--button-link-text-color);
    }
  }

  &.ids-btn--block {
    display: block;
    width: 100%;
  }
}
