/*
  Note: Leave .ids-btn without color styling so that
  it can be easily extended for custom
  colored buttons
 */

.ids-btn {
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  display: inline-block;
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  -webkit-font-smoothing: antialiased;
  font-weight: var(--button-font-weight);
  height: var(--button-height);
  line-height: var(--button-line-height);
  padding: calc((var(--button-height) - var(--font-size-base)) / 2) var(--button-padding-x);
  text-align: var(--button-text-align);
  text-decoration: var(--button-text-decoration);
  text-transform: var(--button-text-transform);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &[disabled] {
    cursor: default;
    opacity: var(--button-disabled-opacity);
  }

  &:focus,
  &.has-focus {
    box-shadow: var(--button-focus-box-shadow);
    outline: 0;
  }

  &:hover {
    text-decoration: none;
  }

  & .ids-icon {
    vertical-align: top;
  }

  &.ids-btn--default {
    background-color: var(--button-default-bg-color);
    color: var(--button-default-text-color);

    & .ids-icon {
      fill: var(--button-default-text-color);
    }

    &:hover {
      background-color: var(--button-default-hover-bg-color);

      &[disabled] {
        background-color: var(--button-default-bg-color);
      }
    }
  }

  &.ids-btn--primary {
    background-color: var(--button-primary-bg-color);
    color: var(--button-primary-text-color);

    & .ids-icon {
      fill: var(--button-primary-text-color);
    }

    &:hover {
      background-color: var(--button-primary-hover-bg-color);

      &[disabled] {
        background-color: var(--button-primary-bg-color);
      }
    }
  }

  &.ids-btn--link {
    background-color: transparent;
    color: var(--button-link-text-color);

    &:hover {
      color: var(--button-link-hover-text-color);

      & .ids-icon {
        fill: var(--button-link-hover-text-color);
      }

      &[disabled] {
        color: var(--button-link-text-color);
      }
    }

    &:focus,
    &.has-focus {
      box-shadow: var(--button-focus-box-shadow);
      outline: 0;
    }

    &:active,
    &.is-active {
      color: var(--color-primary);

      & .ids-icon {
        fill: var(--color-primary);
      }
    }

    & .ids-icon {
      fill: var(--button-link-text-color);
    }
  }

  &.ids-btn--block {
    display: block;
    width: 100%;
  }
}
