@import '../ids-base/ids-base';
@import '../ids-typography/ids-typography';

/*
  Note: Leave .ids-btn without color styling so that
  it can be easily extended for custom
  colored buttons
 */

.ids-btn {
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  -webkit-font-smoothing: antialiased;
  font-weight: var(--font-weight-bold);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &[disabled] {
    cursor: default;
    opacity: var(--disabled-opacity);
  }

  &:focus,
  &.has-focus {
    box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 3px var(--theme-primary);
    outline: 0;
  }

  &.ids-btn--default {
    background-color: var(--theme-default);
    color: var(--theme-default-accent);

    &:hover {
      background-color: var(--theme-muted);

      &[disabled] {
        background-color: var(--theme-default);
      }
    }
  }

  &.ids-btn--primary {
    background-color: var(--theme-primary);
    color: var(--theme-primary-accent);

    &:hover {
      background-color: var(--theme-primary-dark);

      &[disabled] {
        background-color: var(--theme-primary);
      }
    }
  }

  &.ids-btn--link {
    background-color: transparent;
    color: var(--theme-info);

    &:hover {
      color: var(--body-color);

      & .ids-icon {
        fill: var(--body-color);
      }

      &[disabled] {
        color: var(--theme-info);
      }
    }

    &:focus,
    &.has-focus {
      box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 3px var(--theme-primary);
      outline: 0;
    }

    &:active,
    &.is-active {
      color: var(--theme-primary);

      & .ids-icon {
        fill: var(--theme-primary);
      }
    }

    & .ids-icon {
      fill: var(--theme-info);
    }
  }

  &.ids-btn--block {
    display: block;
    width: 100%;
  }
}
