@import '../ids-base/ids-base';
@import '../ids-grid/ids-grid';
@import '../ids-typography/ids-typography';

.ids-tabs--horizontal {
  border-bottom: solid 1px var(--theme-default);
  display: block;

  & .ids-tabs--tab {
    color: var(--theme-info);
    display: inline-block;
    margin: 0 10px 0 0;
    max-width: 150px;
    min-width: 40px;
    overflow: hidden;
    padding: 12px 11px;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;

    &::before {
      background-color: transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      transition: background-color 0.25s ease;
      width: 0;
    }

    &:hover:not(.ids-tabs--tab--disabled) {
      color: var(--body-color);
      text-decoration: none;

      &::before {
        background-color: var(--body-color);
        width: 100%;
      }
    }

    &.ids-tabs--tab--active {
      color: var(--theme-primary);

      &::before {
        background-color: var(--theme-primary);
        width: 100%;
      }
    }

    &.ids-tabs--tab--disabled {
      color: var(--theme-muted);

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}

.ids-tabs--vertical {
  background-color: var(--body-bg);
  display: block;

  & .ids-tabs--tab {
    color: inherit;
    display: block;
    padding: 10px 30px;
    text-decoration: none;

    &:hover:not(.ids-tabs--tab--disabled) {
      background-color: var(--theme-readonly);
    }

    &.ids-tabs--tab--active {
      background-color: var(--theme-primary);
      color: #fff;
    }

    &.ids-tabs--tab--disabled {
      color: var(--theme-muted);

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
