:root {
  --tabs-disabled-bg-color: #d8d8d8;
}

.ids-tabs--horizontal {
  border-bottom: solid 1px var(--color-brand-secondary-base);
  display: block;

  & .ids-tabs--tab {
    color: var(--color-font-info);
    display: inline-block;
    margin: 0 10px 0 0;
    max-width: 150px;
    min-width: 40px;
    overflow: hidden;
    padding: 12px 11px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;

    &::before {
      background-color: transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      transition: background-color 0.25s ease;
      width: 0;
    }

    &:hover:not(.ids-tabs--tab--disabled) {
      color: var(--body-color-primary-font);
      text-decoration: none;

      &::before {
        background-color: var(--body-color-primary-font);
        width: 100%;
      }
    }

    &.ids-tabs--tab--active {
      color: var(--color-brand-primary-base);

      &::before {
        background-color: var(--color-brand-primary-base);
        width: 100%;
      }
    }

    &.ids-tabs--tab--disabled {
      color: var(--color-brand-secondary-alt);

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}

.ids-tabs--vertical {
  background-color: var(--body-color-primary-background);
  display: block;

  & .ids-tabs--tab {
    color: inherit;
    display: block;
    padding: 10px 30px;
    text-decoration: none;

    &:hover:not(.ids-tabs--tab--disabled) {
      background-color: var(--tabs-disabled-bg-color);
    }

    &.ids-tabs--tab--active {
      background-color: var(--color-brand-primary-base);
      color: #fff;
    }

    &.ids-tabs--tab--disabled {
      color: var(--color-brand-secondary-alt);

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
