.ids-form-file {
  display: block;
  position: relative;

  & [type=file] {
:   border: var(--input-size-border-width) solid var(--input-color-base-border);
    border-radius: var(--input-size-border-radius);
    padding: var(--input-size-padding-y) var(--input-size-padding-x);
    width: 100%;

    &:focus {
      border: 1px solid var(--input-color-focus-border);
      outline: 0;
      outline-color: transparent;
    }
  }

  & .ids-icon {
    position: absolute;
    right: var(--input-size-padding-x);
    top: calc(50% - 8px);
  }
}
