/*
  Note: Leave .btn without color styling so that
  it can be easily extended for custom
  colored buttons
 */
.btn {
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--input-line-height);
  padding: var(--input-padding-y) var(--input-padding-x);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &[disabled] {
    cursor: default;
    opacity: var(--btn-disabled-opacity);
  }

  &.btn--default {
    background-color: var(--btn-default-bg);
    color: var(--btn-default-color);

    &:hover {
      background-color: var(--btn-default-hover);

      &[disabled] {
        background-color: var(--btn-default-bg);
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 3px var(--btn-default-bg);
      outline: 0;
    }

    & .icon {
      fill: var(--btn-default-color);
    }
  }

  &.btn--primary {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-color);

    &:hover {
      background-color: var(--btn-primary-hover);

      &[disabled] {
        background-color: var(--btn-primary-bg);
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 3px var(--btn-primary-bg);
      outline: 0;
    }

    & .icon {
      fill: var(--btn-primary-color);
    }
  }

  &.btn--link {
    background-color: var(--btn-link-bg);
    color: var(--btn-link-color);

    &:hover {
      color: var(--btn-link-hover);

      & .icon {
        fill: var(--btn-link-hover);
      }

      &[disabled] {
        color: var(--btn-link-color);
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 3px var(--btn-default-bg);
      outline: 0;
    }

    & .icon {
      fill: var(--btn-link-color);
    }
  }

  &.btn--icon {
    padding-left: 0;
    padding-right: 0;
    width: calc(var(--icon-width) + 14);
  }

  &.btn--block {
    display: block;
    width: 100%;
  }
}
