@lost flexbox flex;

.fnd-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  min-width: 16rem;
  padding-left: var(--grid-gutter-sm);
  padding-right: var(--grid-gutter-sm);

  & .fnd-row {
    lost-center: 100%;
    margin-left: calc(-1 * var(--grid-gutter-sm));
    margin-right: calc(-1 * var(--grid-gutter-sm));
    max-width: none;

    & [class^='fnd-row--col-'],
    & [class^='fnd-row--col-sm-'] {
      padding-left: var(--grid-gutter-sm);
      padding-right: var(--grid-gutter-sm);
    }

    & [class^='fnd-row--col-md-'],
    & [class^='fnd-row--col-lg-'],
    & [class^='fnd-row--col-xl-'] {
      padding-left: var(--grid-gutter-lg);
      padding-right: var(--grid-gutter-lg);
    }
  }
}

@media (--viewport-md) {
  .fnd-container {
    padding-left: var(--grid-gutter-lg);
    padding-right: var(--grid-gutter-lg);

    & .fnd-row {
      margin-left: calc(-1 * var(--grid-gutter-lg));
      margin-right: calc(-1 * var(--grid-gutter-lg));
    }
  }
}

@for $i from 1 to 12 {
  .fnd-row .fnd-row--col-$i {
    lost-column: $(i)/12 0 0;
  }

  .fnd-row--col-$i,
  .fnd-row--col-sm-$i,
  .fnd-row--col-md-$i,
  .fnd-row--col-lg-$i,
  .fnd-row--col-xl-$i {
    lost-column: 1 0 0;
  }
}

@media (--viewport-sm) {
  @for $i from 1 to 12 {
    .fnd-row .fnd-row--col-sm-$i {
      lost-column: $(i)/12 0 0;
    }
  }
}

@media (--viewport-md) {
  @for $i from 1 to 12 {
    .fnd-row .fnd-row--col-md-$i {
      lost-column: $(i)/12 0 0;
    }
  }
}

@media (--viewport-lg) {
  @for $i from 1 to 12 {
    .fnd-row .fnd-row--col-lg-$i {
      lost-column: $(i)/12 0 0;
    }
  }
}

@media (--viewport-xl) {
  @for $i from 1 to 12 {
    .fnd-row .fnd-row--col-xl-$i {
      lost-column: $(i)/12 0 0;
    }
  }
}
