.fnd-tabs--list-horizontal {
  border-bottom: solid 1px var(--graphite03);
  display: block;

  & .fnd-tabs--list-link {
    color: inherit;
    display: block;
    max-width: 150px;
    min-width: 40px;
    overflow: hidden;
    padding: 12px 11px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      text-decoration: none;
    }
  }

  & .fnd-tabs--list-item {
    color: var(--graphite06);
    display: inline-block;
    margin: 0 10px 0 0;
    position: relative;
    vertical-align: top;

    &::before {
      background-color: transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      position: absolute;
      transition: background-color 0.25s ease;
      width: 0;
    }

    &:hover:not(.is-disabled) {
      color: var(--graphite10);

      &::before {
        background-color: var(--graphite10);
        width: 100%;
      }
    }

    &.is-active {
      color: var(--azure06);
    }

    &.is-active::before {
      background-color: var(--azure06);
      width: 100%;
    }

    &.is-disabled {
      color: var(--graphite04);

      & .fnd-tabs--list-link:hover {
        cursor: not-allowed;
      }
    }
  }
}

.fnd-tabs--list-vertical {
  background-color: var(--graphite01);
  display: block;

  & .fnd-tabs--list-link {
    color: inherit;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
  }

  & .fnd-tabs--list-item {
    &:hover:not(.is-disabled) {
      background-color: var(--graphite02);
    }

    &.is-active {
      background-color: var(--azure06);
      color: #fff;
    }

    &.is-disabled {
      color: var(--graphite04);

      & .fnd-tabs--list-link:hover {
        cursor: not-allowed;
      }
    }
  }
}
