<div class="site-spec">
  <div class="site-spec--title">{{ title }}:</div>
  <div class="site-spec--color" style="background-color: {{ spec.value }}" title="{{spec.value}}"></div>
  <div class="site-spec--value"><code>{{spec.originalValue}}</code></div>
<div>
