<span class="site-spec--title">{{ title }}:</span>
{{#with (lookup (lookup annotations 'default') spec)}}
  <div class="site-spec--color" style="background-color: {{ value }}" title="{{value}}"></div>
  <code>{{originalValue}}</code>
{{/with}}
