@import '../ids-base/ids-base';
@import '../ids-typography/ids-typography';

.ids-list--heading {
  color: var(--input-disabled-text-color);
  display: block;
  font-size: var(--font-size-base);
  margin: 0;
  padding: calc(var(--spacing-base) * 2) calc(var(--spacing-base) * 1);
}

.ids-list {
  list-style-type: none;
  margin: 0;

  & .ids-list--item {
    display: block;
    padding: calc(var(--spacing-base) * 2);
  }

  & a.ids-list--item:hover:not(.ids-list--item--selected) {
    background-color: var(--list-hover-color);
  }

  & a.ids-list--item--selected {
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
  }

  &.ids-list--dividers {
    & li {
      border-bottom: 1px solid var(--input-readonly-border-color);
    }

    & li:last-child {
      border-bottom: none;
    }
  }
}

/* Left in longhand for ease of reading */

/* Level 2 nesting */
.ids-list .ids-list--heading {
  padding-left: calc(var(--spacing-base) * 2);
}

.ids-list .ids-list .ids-list--item {
  padding-left: calc(var(--spacing-base) * 3);
}

/* Level 3 nesting */
.ids-list .ids-list .ids-list--heading {
  padding-left: calc(var(--spacing-base) * 3);
}

.ids-list .ids-list .ids-list .ids-list--item {
  padding-left: calc(var(--spacing-base) * 4);
}
