.ids-list {
  list-style-type: none;
  margin: 0;

  & .ids-list--item {
    color: var(--button-link-text-color);
    display: block;
    padding: var(--size-spacing-base) calc(var(--size-spacing-base) * 2);

    &.ids-list--heading {
      color: var(--input-disabled-text-color);
      padding: var(--size-spacing-base) calc(var(--size-spacing-base) * 2);
    }

    &.ids-form-checkbox {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  & .ids-list--heading {
    background-color: transparent;
    color: var(--color-font-muted);
    font-size: var(--size-font-base);
    font-weight: var(--number-font-weight-normal);
  }

  & a.ids-list--item {
    color: var(--button-link-text-color);
    text-decoration: none;
  }

  & a.ids-list--item--selected {
    background-color: var(--list-selected-color);
  }

  &.ids-list--hover {
    & a.ids-list--item:hover {
      background-color: var(--list-hover-color);
    }
  }

  &.ids-list--dividers {
    & li {
      border-bottom: 1px solid var(--input-readonly-border-color);
    }

    & li:last-child {
      border-bottom: none;
    }
  }

  &.ids-list--striped {
    & li:nth-child(even) {
      background-color: var(--list-hover-color);
    }
  }
}

.ids-list--heading {
  background-color: var(--list-hover-color);
  display: block;
  font-size: var(--size-font-sm);
  font-weight: var(--number-font-weight-bold);
  margin: 0;
  padding: calc(var(--size-spacing-base) * 2);
}

.ids-list--heading-accordion {
  border-bottom: 1px solid var(--input-readonly-bg-color);
  border-top: 1px solid var(--input-readonly-bg-color);
  color: var(--color-font-info);
  cursor: pointer;
  display: block;
  font-size: var(--size-font-base);
  -webkit-font-smoothing: antialiased;
  font-weight: var(--number-font-weight-bold);
  margin: 0;
  padding: var(--size-spacing-base) calc(var(--size-spacing-base) * 2);

  &:hover {
    color: var(--text-color);
  }
}

/* Left in longhand for ease of reading */

/* Level 2 nesting */
.ids-list .ids-list--heading {
  padding: var(--size-spacing-base) calc(var(--size-spacing-base) * 2);
}

.ids-list .ids-list .ids-list--item {
  padding-left: calc(var(--size-spacing-base) * 4);
}

/* Level 3 nesting */
.ids-list .ids-list .ids-list--heading {
  padding: var(--size-spacing-base) calc(var(--size-spacing-base) * 4);
}

.ids-list .ids-list .ids-list .ids-list--item {
  padding-left: calc(var(--size-spacing-base) * 6);
}
