.ids-select {
  position: relative;

  & .ids-select--menu {
    background-color: var(--color-primary-contrast);
    display: none;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1000;
  }

  &.ids-select--open {
    & .ids-select--input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    & .ids-select--menu {
      border-bottom: var(--input-border-width) solid var(--color-primary);
      border-bottom-left-radius: var(--input-border-radius);
      border-bottom-right-radius: var(--input-border-radius);
      border-left: var(--input-border-width) solid var(--color-primary);
      border-right: var(--input-border-width) solid var(--color-primary);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      display: block;
    }
  }
}
