@import '../ids-base/ids-base';
@import '../ids-typography/ids-typography';
@import '../ids-form/ids-form';

.ids-select {
  position: relative;

  & .ids-select--menu {
    background-color: var(--theme-primary-accent);
    color: var(--body-color);
    display: none;
    font-size: 1.4rem;
    height: auto;
    line-height: 32px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 0;
    position: absolute;
    text-indent: 10px;
    width: 100%;
    z-index: 1000;

    & > li:hover {
      background-color: var(--theme-default);
      cursor: pointer;
      outline: none;
    }

    & > li.ids-select--menu--selected {
      background-color: var(--theme-primary);
      color: var(--theme-primary-accent);
    }
  }

  &.ids-select--open {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

    & .ids-select--input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    & .ids-select--menu {
      border-bottom: var(--border-width) solid var(--theme-primary);
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      border-left: var(--border-width) solid var(--theme-primary);
      border-right: var(--border-width) solid var(--theme-primary);
      display: block;
    }
  }
}
