/*
 * Page: Colors
 */
.color-swatches {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
}

.swatch {
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 3rem;
  position: relative;
  width: 200px;
}

.swatch-block {
  display: block;
  height: 225px;
}

.swatch-text {
  @apply --text-styles;
  background-color: var(--white);
  bottom: 0;
  font-size: 1.4rem;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-align: center;
}

.color-row {
  lost-center: 100%;

  & .color-row--col-1:nth-child(10n + 1),
  & .color-row--col-1:nth-child(10n + 2),
  & .color-row--col-1:nth-child(10n + 3) {
    color: inherit;
  }

  & > .color-row--col-1 {
    color: #bdbdbd;
    lost-column: 1/10 10 3px;
    margin-bottom: 20px;
    text-align: center;
  }

  & .swatch {
    display: table;
    height: 100px;
    margin-top: 5px;
  }

  & .swatch-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}
