/*
 * Page: Colors
 */
.color-row {
  lost-center: 100%;

  & .color-row--col-1:nth-child(10n + 1),
  & .color-row--col-1:nth-child(10n + 2),
  & .color-row--col-1:nth-child(10n + 3) {
    color: inherit;
  }

  & > .color-row--col-1 {
    color: var(--graphite02);
    lost-column: 1/10 10 3px;
    margin-bottom: 20px;
    text-align: center;
  }

  & .swatch {
    display: table;
    height: 100px;
    margin-top: 5px;
  }

  & .swatch-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}
