/*
 * Pages: Grid Layout
 */

.example .fnd-row [class^='fnd-row--'] {
  background-color: var(--azure01);
  height: 30px;
  line-height: 30px;
  outline: solid 1px var(--azure06);
  text-align: left;
}
