.ids-dropdown {
  position: relative;

  & .ids-dropdown--menu {
    background-color: var(--color-brand-primary-contrast);
    display: none;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1000;
  }

  &.ids-dropdown--open {
    & .ids-dropdown--input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    & .ids-dropdown--menu {
      border-bottom: var(--dropdown-size-border-width) solid var(--color-brand-primary-base);
      border-bottom-left-radius: var(--dropdown-size-border-radius);
      border-bottom-right-radius: var(--dropdown-size-border-radius);
      border-left: var(--dropdown-size-border-width) solid var(--color-brand-primary-base);
      border-right: var(--dropdown-size-border-width) solid var(--color-brand-primary-base);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      display: block;

      & .ids-list--item {
        padding: calc(var(--number-spacing-base) * 1);
      }
    }
  }
}
