/*
 * Property Groups
 */

body {
  background-color: var(--body-bg);
  padding-left: 40px;
  padding-right: 40px;
}

.hero {
  @apply --text-styles;

  & .page-title {
    color: var(--brand-primary);
    font-size: 5rem;
    font-weight: 400;
    text-align: left;
  }
}

.use-site-styles {
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6,
  & > p {
    @apply --text-styles;
  }

  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  & > h1 {
    font-size: 3.6rem;
  }

  & > h2 {
    color: var(--black);
    font-size: 2.8rem;
  }

  & > h3 {
    @apply --h3-styles;
  }

  & > a {
    @apply --link-styles;

    &:hover {
      @apply --link-hover-styles;
    }
  }

  & > ul {
    @apply --text-styles;

    list-style-type: disc;
    margin-left: 15px;
  }

  & > ol {
    @apply --text-styles;

    list-style-type: decimal;
    margin-left: 15px;
  }

  & > ul ul,
  & > ol ul {
    list-style-type: circle;
  }

  & > ol ol,
  & > ul ol {
    list-style-type: lower-latin;
  }
}

.site-main--content {
  margin-left: 285px;
}

/*
 * Specification styles
 */
.site-spec {
  @apply --text-styles;

  line-height: 1.8rem;

  & .site-spec--title {
    display: inline-block;
    font-family: var(--font-family-base);
  }

  & .site-spec--value {
    display: inline-block;
  }

  & .site-spec--color {
    border: 1px solid #bdbdbd;
    border-radius: 16px;
    display: inline-block;
    height: 16px;
    position: relative;
    top: 3px;
    width: 16px;
  }
}

/*
 * Code example styles
 */
code {
  background-color: #f0f1f5;
  border-radius: 4px;
  color: #6b6e76;
  font-size: 90%;
  padding: 2px 4px;
}

pre > code {
  background-color: transparent;
  font-size: inherit;
  padding: 0;

  & pre {
    border: 1px solid var(--example-border-color);
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 15px;
    background-color: #f7f7f9;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
