/*
 * Top Nav
 */
nav ul,
nav ol {
  list-style: none;
  margin-left: 0;

  & ul,
  & ol {
    margin-left: 15px;
  }
}

.site-nav {
  @apply --text-styles;

  height: 100px;
  padding: 26px 0;
}

.site-nav--brand {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.4rem;
  margin: 0;
  padding: 0;

  & img {
    height: 48px;
    width: 149px;
  }
}

.site-nav--list {
  display: inline-block;
  padding-left: 16px;
  position: relative;

  & > li {
    float: left;
    line-height: 48px;
    position: relative;
    top: 4px;

    &.is-active a {
      border-bottom: 2px solid var(--brand-primary);
      color: var(--brand-primary);
    }

    & a {
      color: var(--black);
      line-height: 20px;
      margin: 0 20px;
      padding: 16px 5px 2px;
      text-decoration: none;

      &:focus,
      &:hover {
        border-bottom: 2px solid var(--brand-primary);
      }
    }
  }
}

/*
 * Left Side Nav
 */
.site-sidebar {
  @apply --text-styles;

  margin-top: 35px;

  & .site-sidebar--heading {
    color: var(--brand-primary);
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding-top: 20px;
    text-transform: uppercase;
  }

  & .site-sidebar--nav a {
    color: #727272;
    display: block;
    font-size: 16px;
    line-height: 1.4;
    padding: 5px 0;
    text-decoration: none;

    &:hover {
      color: #333;
    }
  }
}

/*
* Main Content Right nav
*/
.site-main--toc {
  @apply --text-styles;

  padding-top: 23px;

  & h3 {
    @apply --h3-styles;
  }

  & a {
    @apply --link-styles;

    &:hover {
      @apply --link-hover-styles;
    }
  }

  & a,
  & a:hover {
    color: #484a51;
  }
}
