/*
 * Top Nav
 */
nav ul,
nav ol {
  list-style: none;
  margin-left: 0;

  & ul,
  & ol {
    margin-left: 15px;
  }
}

.site-nav {
  @apply --text-styles;

  border-bottom: solid 1px var(--example-border-color);
  padding: 10px 0;
}

.site-nav--brand {
  font-size: 1.8rem;
  line-height: 48px;
  margin: 0;
  padding: 0;

  & img {
    height: 48px;
    vertical-align: middle;
  }
}

/*
 * Left Side Nav
 */
.site-main--sidebar {
  @apply --text-styles;

  position: absolute;
  top: 15px;
  width: 180px;

  & .site-sidebar--heading {
    color: var(--brand-primary);
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }

  & .site-sidebar--nav a {
    color: #727272;
    display: block;
    font-size: 16px;
    line-height: 1.4;
    padding: 5px 0;
    text-decoration: none;

    &:hover {
      color: #333;
    }
  }
}

/*
* Main Content Right nav
*/
.site-main--toc {
  @apply --text-styles;

  padding-top: 23px;

  & h3 {
    @apply --h3-styles;
  }

  & a {
    @apply --link-styles;

    &:hover {
      @apply --link-hover-styles;
    }
  }

  & a,
  & a:hover {
    color: #484a51;
  }
}
