/*
 * Top Nav
 */
.site-nav {
  background-color: #222427;
  color: var(--white);
  padding: 8px 20px;
}

.site-nav--list {
  list-style-type: none;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;

  & > li {
    float: left;
    line-height: 34px;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }

    & a {
      color: inherit;
      text-decoration: none;
    }
  }
}

/*
 * Side Nav
 */
.site-nav--header {
  display: inline;
  float: left;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.4rem;
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.site-nav--header a {
  color: var(--white);
}

.site-sidebar {
  overflow-y: scroll;
}

.site-sidebar--list > li {
  display: block;
  padding: 12px 8px;
}

.site-sidebar--right {
  background-color: var(--white);
  position: fixed;
  width: 100%;
}
