/* stylelint-disable comment-empty-line-before, custom-property-empty-line-before */

:root {

  /* colors */
  --azure01: #c8e9f4;
  --azure02: #addbeb;
  --azure03: #8dc9e6;
  --azure04: #69b5dd;
  --azure05: #54a1d3;
  --azure06: #368ac0;
  --azure07: #2578a9;
  --azure08: #1d5f8a;
  --azure09: #134d71;
  --azure10: #133c59;

  --graphite01: #f0f0f0;
  --graphite02: #d8d8d8;
  --graphite03: #bdbdbd;
  --graphite04: #999;
  --graphite05: #737373;
  --graphite06: #5c5c5c;
  --graphite07: #454545;
  --graphite08: #383838;
  --graphite09: #292929;
  --graphite10: #1a1a1a;

  --white: #fff;
  --black: #000;


  /* bodySettings */
  --body-bg: #F0F1F5;
  --body-color: #222427;
  --link-color: var(--azure06);
  --link-color-disabled: var(--graphite04);
  --link-color-hover: var(--link-color);
  --link-color-visited: var(--amethyst06);

  /* font  */
  --font-family-base: Proxima Nova, arial;
  --font-family-mono: Menlo, Monaco, Consolas, 'Courier New', monospace;
  --font-size-base: 1.4rem;
  --font-size-lg: 1.8rem;
  --font-size-sm: 0.85rem;
  --font-size-h1: 2.8rem;
  --font-size-h2: 2.4rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.6rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --line-height-base: 1.5;


  /* breakpoints */
  --breakpoint-xs: 400px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 840px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1440px;
}
/* @end cssVariables */

/* Media definitions */
:root {
  @custom-media --viewport-xs (min-width: var(--breakpoint-xs));
  @custom-media --viewport-sm (min-width: var(--breakpoint-sm));
  @custom-media --viewport-md (min-width: var(--breakpoint-md));
  @custom-media --viewport-lg (min-width: var(--breakpoint-lg));
  @custom-media --viewport-xl (min-width: var(--breakpoint-xl));
}

/* stylelint-enable comment-empty-line-before, custom-property-empty-line-before */
