/* stylelint-disable comment-empty-line-before, custom-property-empty-line-before */

:root {
  --brand-primary: #0060d4;
  --white: #fff;
  --black: #000;

  --body-bg: var(--white);
  --body-color: #484a51;
  --link-color: var(--brand-primary);
  --link-color-hover: var(--link-color);

  --font-family-base: proxima nova, arial;
  --font-family-mono: menlo, monaco, consolas, 'courier new', monospace;
  --font-size-base: 1.6rem;
  --line-height-base: 1.5;

  /*
   * Custom property groups
   */
  --text-styles: {
    color: var(--body-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
  };

  --link-styles: {
    color: var(--link-color);
    text-decoration: none;
  };

  --link-hover-styles: {
    color: var(--link-color-hover);
    text-decoration: underline;
  };

  --h3-styles: {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 10px;
    text-transform: uppercase;
  };
}

/* stylelint-enable comment-empty-line-before, custom-property-empty-line-before */
