@import '../ids-checkbox/_mixins.css';

.ids-form-radio {
  @mixin checkboxGroupSetup;

  & label {
    padding-left: calc(var(--radio-size-outer-width) + 5px);

    &::before {
      /* background-color: var(--radio-color-unchecked-initial-background); */
      background-color: var(--theme-color-palette-white);
      border: 1px solid var(--radio-color-unchecked-initial-border);
      border-radius: 50%;
      content: '';
      display: block;

      /* Add 2px to simulate an external border to match Enterprise */
      height: calc(var(--radio-size-outer-height) + 2);
      left: 0;
      position: absolute;
      top: calc(50% - 0.5 * var(--radio-size-outer-height));

      /* Add 2px to simulate an external border to match Enterprise */
      width: calc(var(--radio-size-outer-width) + 2);
    }

    &::after {
      background-color: var(--radio-color-checked-initial-fill);
      border-radius: 50%;
      content: '';

      /* Add 2px to simulate an external border to match Enterprise */
      height: calc(var(--radio-size-inner-height) + 2);
      left: calc(var(--radio-size-outer-width) / 2 - var(--radio-size-inner-width) / 2);
      opacity: 0;
      position: absolute;
      top: calc(50% - 0.5 * var(--radio-size-inner-height));

      /* Add 2px to simulate an external border to match Enterprise */
      width: calc(var(--radio-size-inner-width) + 2);
    }
  }

  & input:focus + label::before {
    border-radius: 50%;
    box-shadow: var(--radio-shadow-focus-boxshadow);
  }

  & input:disabled + label::before {
    background-color: var(--radio-color-unchecked-disabled-background);
    border-color: var(--radio-color-unchecked-disabled-border);
  }

  & input:checked + label {
    &::before {
      background-color: var(--radio-color-checked-initial-background);
    }

    &::after {
      opacity: 1;
      transition: all 0.2s ease 0s;
    }
  }

  & input:disabled:checked + label {
    &::before {
      background-color: var(--radio-color-checked-disabled-background);
      border-color: var(--radio-color-checked-disabled-border);
    }

    &::after {
      background-color: var(--radio-color-checked-initial-background);
      border: 2px solid var(--radio-color-checked-initial-fill);
    }
  }
}
