@import '../ids-checkbox/_mixins.css';

.ids-form-radio {
  @mixin checkboxGroupSetup;

  & label {
    padding-left: calc(var(--radio-outer-w) + 5px);

    &::before {
      background-color: var(--radio-bg-color);
      border: 1px solid var(--radio-border-color);
      border-radius: 50%;
      content: '';
      display: block;
      height: var(--radio-outer-h);
      left: 0;
      position: absolute;
      top: calc(50% - 0.5 * var(--radio-outer-h));
      width: var(--radio-outer-w);
    }

    &::after {
      background-color: var(--radio-color);
      border: 2px solid var(--radio-color);
      border-radius: 50%;
      content: '';
      height: var(--radio-inner-h);
      left: calc(var(--radio-outer-w) / 2 - var(--radio-inner-w) / 2);
      opacity: 0;
      position: absolute;
      top: calc(50% - 0.5 * var(--radio-inner-h));
      width: var(--radio-inner-w);
    }
  }

  & input:focus + label::before {
    border-radius: 50%;
    box-shadow: var(--radio-focus-shadow);
  }

  & input:disabled + label::before {
    background-color: var(--radio-disabled-bg-color);
    border-color: var(--radio-disabled-border-color);
  }

  & input:checked + label {
    &::before {
      background-color: var(--radio-bg-checked-color);
    }

    &::after {
      opacity: 1;
      transition: all 0.2s ease 0s;
    }
  }

  & input:disabled:checked + label {
    &::before {
      background-color: var(--radio-disabled-border-color);
      border-color: var(--radio-disabled-border-color);
    }

    &::after {
      background-color: var(--radio-disabled-checked-bg-color);
      border: 2px solid var(--radio-disabled-checked-bg-color);
    }
  }
}
