/*
 * Adaptive Styles
 */

.adaptive--touch {
  & .btn,
  & input.form-control {
    line-height: var(--input-line-height-adaptive-touch);
  }

  & select:not([size]):not([multiple]).form-control {
    height: var(--input-height-adaptive-touch);
  }

  & .form-checkbox,
  & .form-radio,
  & .form-checkbox label,
  & .form-radio label {
    padding: var(--input-padding-adaptive-touch) 0;
  }
}
