/*
@styleguide

@title Button

Use the button classes on and `<a>`, `<button>`, `<input>` elements.

<button type="button" class="btn btn-default">Default Button</button>
<button type="button" class="btn btn-default" disabled>Default Button</button>
```html
<button type="button" class="btn btn-default">Default Button</button>
```

<button type="button" class="btn btn-primary">Primary Button</button>
<button type="button" class="btn btn-primary" disabled>Primary Button</button>
```html
<button type="button" class="btn btn-primary">Primary Button</button>
```

<a href="" class="btn btn-link">Link Button</a>
<button type="button" class="btn btn-warning">Warning Button</button>
<button type="button" class="btn btn-warning" disabled>Warning Button</button>
```html
<button type="button" class="btn btn-warning">Warning Button</button>
```

<a href="" class="btn btn-link">Link Button</a>
<a href="" class="btn btn-link" disabled>Link Button</a>
```html
<a href="" class="btn btn-link">Link Button</a>
```

*/

/*
  Note: Leave .btn without color styling so that
  it can be easily extended for custom
  colored buttons
 */
.btn {
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--btn-line-height);
  min-width: 100px;
  padding: 0 15px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  width: var(--input-size-sm);

  &[disabled] {
    cursor: default;
  }
}

.btn-default {
  background-color: var(--btn-default-bg);
  color: var(--btn-default-color);

  &:hover {
    background-color: var(--btn-default-hover);
  }

  &[disabled] {
    background-color: var(--btn-default-bg-disabled);
    color: var(--btn-default-color-disabled);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 3px var(--btn-default-bg);
  }
}

.btn-primary {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-color);

  &:hover {
    background-color: var(--btn-primary-hover);
  }

  &[disabled] {
    background-color: var(--btn-primary-bg-disabled);
    color: var(--btn-primary-color-disabled);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 3px var(--btn-primary-bg);
  }
}

.btn-warning {
  background-color: var(--btn-warning-bg);
  color: var(--btn-warning-color);

  &:hover {
    background-color: var(--btn-warning-hover);
  }

  &[disabled] {
    background-color: var(--btn-warning-bg-disabled);
    color: var(--btn-warning-color-disabled);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 3px var(--btn-warning-bg);
  }
}

.btn-link {
  background-color: var(--btn-link-bg);
  color: var(--btn-link-color);

  &:hover {
    color: var(--btn-link-hover);
  }

  &[disabled] {
    background-color: var(--btn-link-bg-disabled);
    color: var(--btn-link-color-disabled);
  }

  &:focus {
    outline: 0;
  }
}
