.form-control {
  background-clip: padding-box;
  background-color: var(--input-bg);

  /* Reset unusual Firefox-on-Android default style background-image */
  background-image: none;
  border: var(--input-border-width) solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  box-shadow: none;
  color: var(--input-color);
  display: block;
  font-size: var(--font-size-base);
  line-height: var(--input-line-height);
  padding: var(--input-padding-y) var(--input-padding-x);
  resize: none;
  text-align: left;
  transition: var(--input-transition);
  width: 100%;

  /* Unstyle the caret on `<select>`s in IE10+. */
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &::placeholder {
    color: $input-color-placeholder;

    /* Override Firefox's unusual default opacity */
    opacity: 1;
  }

  &:hover {
    border-color: var(--input-border-color-hover);
  }

  &:disabled {
    background-color: var(--input-bg-disabled);
    border: solid 1px var(--input-border-color-disabled);
    color: var(--input-color-disabled);
    cursor: not-allowed;

    /* iOS fix for unreadable disabled/readonly content */
    opacity: 1;
  }

  &[readonly] {
    background-color: var(--input-bg-readonly);
    border-color: var(--input-border-color-readonly);
    color: var(--input-color-readonly);

    /* iOS fix for unreadable disabled/readonly content */
    opacity: 1;
  }

  &:focus {
    border: 1px solid var(--input-border-color-focus);
    outline: 0;
    outline-color: transparent;
  }

  &.form-control--xs { width: var(--input-size-xs); }
  &.form-control--sm { width: var(--input-size-sm); }
  &.form-control--md { width: var(--input-size-md); }
  &.form-control--lg { width: var(--input-size-lg); }
}

select.form-control {
  &:not([size]):not([multiple]).form-control {
    height: var(--input-height);
  }

  &:focus::-ms-value {
    /* Suppress the nested default white text on blue background highlight given to
       the selected option text when the (still closed) <select> receives focus
       in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
       match the appearance of the native widget.
    */
    background-color: $input-bg;
    color: $input-color;
  }
}

.form-control-file,
.form-control-range {
  display: block;
}

.form-group {
  margin-bottom: 20px;

  & label,
  & .info-block {
    display: block;
    font-size: 1.2rem;
    line-height: 13px;
  }

  & label {
    color: var(--graphite06);
    margin-bottom: 5px;

    &.is-required::after {
      color: var(--alert-red);
      content: '*';
      display: inline;
      font-size: var(--font-size-lg);
      left: 2px;
      position: relative;
      top: 2px;
    }
  }

  & .info-block {
    margin-top: 5px;
  }

  &.has-error {
    .form-control,
    .info-block {
      color: var(--alert-red);
    }

    & .form-control {
      border-color: var(--alert-red);
    }

    &:focus {
      border-color: var(--alert-red);
      color: var(--input-color);
    }
  }
}

.form-checkbox,
.form-radio {
  display: block;
  margin: 10px 0;
  position: relative;

  &.is-disabled label,
  &:disabled {
    cursor: not-allowed;
  }
}

@keyframes check {
  0% {
    height: 0;
    width: 0;
  }

  50% {
    height: 0;
    width: 5px;
  }

  100% {
    height: 10px;
    width: 5px;
  }
}

.form-checkbox,
.form-radio {
  & label {
    display: block;
    position: relative;
  }

  & input {
    position: absolute;
    top: calc(50% - 9px);
    visibility: hidden;
  }
}

.form-checkbox {
  & label {
    padding-left: calc(var(--checkbox-box-w) + 5);

    &::before {
      background-color: var(--checkbox-bg);
      border: 1px solid var(--checkbox-border-color);
      border-radius: 2px;
      content: '';
      display: block;
      height: var(--checkbox-box-h);
      left: 0;
      position: absolute;
      top: calc(50% - 0.5 * var(--checkbox-box-h));
      width: var(--checkbox-box-w);
    }

    &::after {
      border-color: var(--checkbox-arrow-color) var(--checkbox-arrow-color) var(--checkbox-arrow-color) transparent;
      border-style: solid;
      border-width: 2px 2px 0 0;
      content: '';
      display: none;
      height: var(--checkbox-check-h);
      left: 3px;
      position: absolute;
      top: 50%;
      width: var(--checkbox-check-w);
    }
  }

  & input:focus + label::before {
    box-shadow: var(--checkbox-shadow-focus);
  }

  & input:disabled + label::before {
    background-color: var(--checkbox-bg-disabled);
    border-color: var(--checkbox-border-color-disabled);
  }

  & input:checked + label {
    &::before {
      background-color: var(--checkbox-color);
      border-color: var(--checkbox-color);
    }

    &::after {
      animation: check 0.15s;
      display: block;
      transform: scaleX(-1) rotate(135deg);
      transform-origin: left top 0;
    }
  }

  &.form-checkbox--partial input:checked + label::after {
    animation: none;
    border-width: 0 0 2px;
    height: 2px;
    left: 2px;
    margin-left: 1px;
    top: calc(50% - (0.5 * 2px));
    transform: none;
    width: 10px;
  }

  & input:disabled:checked + label {
    &::before {
      background-color: var(--checkbox-bg-disabled-checked);
      border-color: var(--checkbox-bg-disabled-checked);
    }

    &::after {
      border-color: var(--checkbox-arrow-color-disabled) var(--checkbox-arrow-color-disabled) var(--checkbox-arrow-color-disabled) transparent;
    }
  }

  & input:focus + label::before {
    box-shadow: var(--checkbox-shadow-focus);
  }
}

.form-radio {
  & label {
    padding-left: calc(var(--radio-outer-w) + 5);

    &::before {
      background-color: var(--radio-bg);
      border: 1px solid var(--radio-border-color);
      border-radius: 50%;
      content: '';
      display: block;
      height: var(--radio-outer-h);
      left: 0;
      position: absolute;
      top: calc(50% - 0.5 * var(--radio-outer-h));
      width: var(--radio-outer-w);
    }

    &::after {
      background-color: var(--radio-color);
      border: 2px solid var(--radio-color);
      border-radius: 50%;
      content: '';
      height: var(--radio-inner-h);
      left: calc(var(--radio-outer-w) / 2 - var(--radio-inner-w) / 2);
      opacity: 0;
      position: absolute;
      top: calc(50% - 0.5 * var(--radio-inner-h));
      width: var(--radio-inner-w);
    }
  }

  & input:focus + label::before {
    border-radius: 50%;
    box-shadow: var(--radio-shadow-focus);
  }

  & input:disabled + label::before {
    background-color: var(--radio-bg-disabled);
    border-color: var(--radio-border-color-disabled);
  }

  & input:checked + label {
    &::before {
      background-color: var(--radio-bg-checked);
    }

    &::after {
      opacity: 1;
      transition: all 0.2s ease 0s;
    }
  }

  & input:disabled:checked + label {
    &::before {
      background-color: var(--radio-border-color-disabled);
      border-color: var(--radio-border-color-disabled);
    }

    &::after {
      background-color: var(--radio-bg-disabled-checked);
      border: 2px solid var(--radio-bg-disabled-checked);
    }
  }
}
