@lost flexbox flex;

.fnd-row,
.fnd-row--gutter {
  lost-center: 100%;
}

@for $i from 1 to 12 {
  .fnd-row .fnd-row--col-$i,
  .fnd-row--gutter .fnd-row--col-$i {
    lost-column: 1 0 0;
  }

  @media (--viewport-xl) {
    .fnd-row .fnd-row--col-xl-$i {
      lost-column: $(i)/12 0 0;
    }

    .fnd-row--gutter .fnd-row--col-xl-$i {
      lost-column: $(i)/12 auto 20px;
    }
  }

  @media (--viewport-lg) {
    .fnd-row .fnd-row--col-lg-$i {
      lost-column: $(i)/12 0 0;
    }

    .fnd-row--gutter .fnd-row--col-lg-$i {
      lost-column: $(i)/12 auto 20px;
    }
  }

  @media (--viewport-md) {
    .fnd-row .fnd-row--col-md-$i {
      lost-column: $(i)/12 0 0;
    }

    .fnd-row--gutter .fnd-row--col-md-$i {
      lost-column: $(i)/12 auto 10px;
    }
  }

  @media (--viewport-sm) {
    .fnd-row .fnd-row--col-sm-$i {
      lost-column: $(i)/12 0 0;
    }

    .fnd-row--gutter .fnd-row--col-sm-$i {
      lost-column: $(i)/12 auto 10px;
    }
  }
}
