/*
@styleguide

@title Grid: Feature Lost grid
  http://lostgrid.org

*/

@lost gutter 0;
@lost flexbox flex;

.lost-grid {
  lost-center: 100%;

  >.lost-grid--col-1 {
    lost-column: 1/var(--grid-columns);
  }

  >.lost-grid--col-2 {
    lost-column: 2/var(--grid-columns);
  }

  >.lost-grid--col-3 {
    lost-column: 3/var(--grid-columns);
  }

  >.lost-grid--col-4 {
    lost-column: 4/var(--grid-columns);
  }

  >.lost-grid--col-5 {
    lost-column: 5/var(--grid-columns);
  }

  >.lost-grid--col-6 {
    lost-column: 6/var(--grid-columns);
  }

  >.lost-grid--col-7 {
    lost-column: 7/var(--grid-columns);
  }

  >.lost-grid--col-8 {
    lost-column: 8/var(--grid-columns);
  }

  >.lost-grid--col-9 {
    lost-column: 9/var(--grid-columns);
  }

  >.lost-grid--col-10 {
    lost-column: 10/var(--grid-columns);
  }

  >.lost-grid--col-11 {
    lost-column: 11/var(--grid-columns);
  }

  >.lost-grid--col-12 {
    lost-column: 1;
  }
}


@media (--viewport-sm) {
  .lost-grid > [class^="lost-grid--col-"] {
    lost-column:  1;
  }
}
