.icon {
  display: inline-block;
  fill: var(--graphite04);
  height: 18px;
  position: relative;
  width: 22px;
  vertical-align: top;
}

.btn-link span { /* Temp class - remove ASAP */
  display: none;
}
