:root {
  --soho-primary: var(--azure06);
  --soho-warning: var(--ruby06);

  /* Alert color aliases */
  --alert-red: #e84f4f;
  --alert-bg-color: rgba(232, 79, 79, 0.1);
  --alert-orange: #ff9426;
  --alert-yellow: #ffd726;
  --alert-green: #80ce4d;
  --alert-info: var(--azure06);
  --alert-neutral: var(--graphite03);

  /* Body - Settings for the `<body>` element. */
  --body-bg: var(--graphite01);
  --body-color: var(--graphite06);

  /* Font  */
  --font-family-base: Helvetica, Arial;
  --font-size-lg: 1.8rem;
  --font-size-base: 1.4rem;
  --font-size-sm: 0.85rem;
  --font-size-small: 0.75rem;
  --font-size-h1: 2.8rem;
  --font-size-h2: 2.4rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.6rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --text-disabled: var(--graphite04);
  --text-alert: var(--alert-red);

  /* Headings */
  --headings-margin-bottom: 0.5rem;
  --headings-font-family: Helvetica, Arial;
  --headings-font-weight: 400;
  --headings-line-height: normal;
  --headings-color: var(--body-color);

  /* Buttons */
  --btn-line-height: 2.2rem;
  --btn-default-color: var(--graphite08);
  --btn-default-color-disabled: var(--white); /* soho used opacity 0.5 */
  --btn-default-bg: var(--graphite03);
  --btn-default-bg-disabled: var(--graphite02);  /* soho used opacity 0.5 */
  --btn-default-hover: var(--graphite04);

  /* Button primary */
  --btn-primary-color: var(--white);
  --btn-primary-color-disabled: var(--white); /* soho used opacity 0.5 */
  --btn-primary-bg: var(--soho-primary);
  --btn-primary-bg-disabled: var(--azure02);  /* soho used opacity 0.5 */
  --btn-primary-hover: var(--azure07);

  /* Button warning */
  --btn-warning-color: var(--white);
  --btn-warning-color-disabled: var(--white); /* soho used opacity 0.5 */
  --btn-warning-bg: var(--soho-warning);
  --btn-warning-bg-disabled: var(--ruby02);  /* soho used opacity 0.5 */
  --btn-warning-hover: var(--ruby07);

  /* Button link */
  --btn-link-color: var(--graphite06);
  --btn-link-color-disabled: var(--graphite03);
  --btn-link-bg: transparent;
  --btn-link-bg-disabled: var(--btn-link-bg);
  --btn-link-hover: var(--graphite10);

  /* Inputs */
  --input-transition: border 300ms ease 0s, box-shadow 300ms ease 0s;
  --input-color: var(--graphite10);
  --input-color-readonly: var(--graphite10);
  --input-color-disabled: var(--text-disabled);
  --input-bg: transparent;
  --input-bg-disabled: transparent;
  --input-bg-readonly: var(--graphite02);
  --input-border-color: var(--graphite04);
  --input-border-color-disabled: var(--graphite03);
  --input-border-color-focus: var(--soho-primary);
  --input-border-color-hover: var(--graphite08);
  --input-border-color-readonly: var(--input-border-color);
  --input-border-width: 1px;
  --input-border-radius: 2px;
  --input-height: 3.4rem;
  --input-placeholder-color: var(--graphite04);

  /* Input sizes */
  --input-size-xs: 75px;
  --input-size-sm: 150px;
  --input-size-base: 300px;
  --input-size-lg: 400px;
  --input-size-full: 100%;

  /* Checkboxes */
  --checkbox-color: var(--soho-primary);
  --checkbox-border-color: var(--graphite04);
  --checkbox-border-color-disabled: var(--graphite03);
  --checkbox-bg: var(--white);
  --checkbox-bg-disabled: var(--checkbox-bg);
  --checkbox-bg-disabled-checked: var(--graphite03);
  --checkbox-arrow-color: var(--white);
  --checkbox-arrow-color-disabled: #f4f4f4;
  --checkbox-shadow-focus: 0 0 0 2px var(--body-bg), 0 0 0 3px var(--checkbox-color);

  /* Radios */
  --radio-color: var(--white);
  --radio-bg-checked: var(--soho-primary);
  --radio-border-color: var(--graphite04);
  --radio-border-color-disabled: var(--graphite03);
  --radio-bg: var(--white);
  --radio-bg-disabled: var(--radio-bg);
  --radio-bg-disabled-checked: var(--graphite03);
  --radio-shadow-focus: var(--checkbox-shadow-focus);

  /* Grid */
  --grid-columns: 12;

  /* Responsive Breakpoints */
  @custom-media --viewport-xlg (max-width: 1200px);
  @custom-media --viewport-lg  (max-width: 992px);
  @custom-media --viewport-md  (max-width: 768px);
  @custom-media --viewport-sm  (max-width: 480px);
}
