/**
 * Common Styles for Demos
 */

html {
  font-family:   font-family: 'Helvetica', 'Arial', 'Tahoma', 'DejaVu';
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

h1 {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 10px;
  margin-top: 20px;
}

h2,
h3 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 10px;
  margin-top: 20px;
}

.example {
  background: #fff;
  border: 1px solid #e1e8e8;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 15px;
  line-height: 1.4;
  overflow-x: scroll;
  position: relative;
}

.example .example--info {
  display: block;
  margin-top: 20px;
}

.example .example--inner-frame {
  border: solid 1px #e1e8e8;
}
