/**
 * Common Styles for Demos
 */

.example {
  background: var(--color-base-white);
  border: 1px solid #e1e8e8;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 15px;
  overflow-x: scroll;
  position: relative;
}

.example .example--info {
  display: block;
  margin-top: 20px;
}

.example .example--inner-frame {
  border: solid 1px #e1e8e8;
}
