/*
@styleguide
@title Button

Use the button classes on and `<a>`, `<button>`, `<input>` elements.

<button class="btn btn-primary">Primary Button</button>

```html
<button class="btn btn-primary">Blue Button</button>
```

<button class="btn btn-secondary">Secondary Button</button>

```html
<button class="btn btn-secondary">Secondary Button</button>
```

*/
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    cursor: pointer;
    padding: 0 15px;
    min-width: 100px;
    width: auto;
    height: 34px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.btn-primary {
    color: var(--white);
    background-color,
    border-color:
        var(--azure06);
}
 .btn-primary:hover {
    background-color,
    border-color:
        var(--azure07);
}

.btn-secondary {
    background-color: var(--graphite03);
    color: var(--graphite08);
}

.btn-secondary:hover {
    background-color,
    border-color:
        var(--graphite04);
}

.btn-alert {
    color: var(--white);
    background-color: var(--alert-red);
}