/*
@styleguide

@title Button

Use the button classes on and `<a>`, `<button>`, `<input>` elements.

<button class="button button--large button--primary">Blue Button</button>

    <button class="button button--large button--primary">Blue Button</button>

<a class="button button--large button--alert-red">Red Alert Button</a>

    <a class="button button--large button--alert-red">Red Alert Button</a>
*/
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.button--large {
    width: 140px;
    height: 40px;
    font-size: 14px;
}

/*
Use the button classes on and `<a>`, `<button>`, `<input>` elements.
*/


.button--primary {
    color: #fff;
    background-color: var(--azure06);
}

.button--alert-red {
    color: #fff;
    background-color: var(--alert-red);
}