/*
@styleguide
@title Button

Use the button classes on and `<a>`, `<button>`, `<input>` elements.

<button class="btn btn-primary">Primary Button</button>
<button class="btn btn-primary" disabled>Primary Button</button>

```html
<button class="btn btn-primary">Primary Button</button>

```

<button class="btn btn-secondary">Secondary Button</button>
<button class="btn btn-secondary" disabled>Secondary Button</button>

```html
<button class="btn btn-secondary">Secondary Button</button>
```

<button class="btn btn-tertiary">Tertiary Button</button>
<button class="btn btn-tertiary" disabled>Tertiary Button</button>

```html
<button class="btn btn-tertiary">Tertiary Button</button>
```

*/

button {
  cursor: pointer;

  &[disabled] {
    cursor: default;
  }
}


.btn {
  border: 0;
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
  height: 34px;
  min-width: 100px;
  overflow: hidden;
  padding: 0 15px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
}

.btn-primary {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-color);

  &:hover {
    background-color: var(--btn-primary-hover);
  }

  &[disabled] {
    background-color: var(--btn-primary-disabled-bg);
    color: var(--btn-primary-disabled-color);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 3px var(--btn-primary-bg);
  }
}

.btn-secondary {
  background-color: var(--btn-secondary-bg);
  color: var(--btn-secondary-color);

  &:hover {
    background-color: var(--btn-secondary-hover);
  }

  &[disabled] {
    background-color: var(--btn-secondary-disabled-bg);
    color: var(--btn-secondary-disabled-color);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 3px var(--btn-secondary-bg);
  }
}

.btn-tertiary {
  background-color: var(--btn-tertiary-bg);
  color: var(--btn-tertiary-color);

  &:hover {
    color: var(--btn-tertiary-hover);
  }

  &[disabled] {
    background-color: var(--btn-tertiary-disabled-bg);
    color: var(--btn-tertiary-disabled-color);
  }

  &:focus {
    outline: 0;
  }
}
