/*
@styleguide

@title Forms

Some text about using form-controls.

### Input Groups

<div class="form-group">
  <label for="input0">Normal & Empty</label>
  <input type="text" id="input0" class="form-control" placeholder="Placeholder">
</div>

<div class="form-group">
  <label for="input1">Normal with Text</label>
  <input type="text" id="input1" class="form-control" placeholder="Placeholder text" value="Some Text">
</div>

<div class="form-group">
  <label for="input2">Read Only</label>
  <input type="text" id="input2" class="form-control" value="Some Text" readonly>
</div>

<div class="form-group">
  <label for="input3">Disabled</label>
  <input type="text" id="input3" class="form-control" value="Some Text" disabled>
</div>

<div class="form-group">
  <label for="textarea0">Normal & Empty</label>
  <textarea type="text" id="textarea0" class="form-control" placeholder="Placeholder"></textarea>
</div>

<div class="form-group">
  <label for="textarea1">Normal with Text</label>
  <textarea type="text" id="textarea1" class="form-control">Some Text</textarea>
</div>

<div class="form-group">
  <label for="textarea2">Read Only</label>
  <textarea type="text" id="textarea2" class="form-control"readonly>Some Text</textarea>
</div>

<div class="form-group">
  <label for="textarea3">Disabled</label>
  <textarea type="text" id="textarea3" class="form-control" value="Some Text" disabled></textarea>
</div>

<hr>
### Input Group States

<div class="form-group">
  <label for="field4" class="required">A text field</label>
  <input type="text" id="field4" class="form-control" placeholder="Placeholder">
  <p class="info-block">Some passive text</p>
</div>

<div class="form-group has-error">
  <label for="field4" class="required">A Required Field With an Error</label>
  <input type="text" id="field4" class="form-control" placeholder="Placeholder">
  <p class="info-block">(!) Required</p>
</div>

<hr>
### Input sizes

<div class="form-group">
  <label for="field1">Extra Small</label>
  <input type="text" id="field1" class="form-control form-control-xs">
</div>
<div class="form-group">
  <label for="field2">Small</label>
  <input type="text" id="field2" class="form-control form-control-sm">
</div>
<div class="form-group">
  <label for="field3">Normal</label>
  <input type="text" id="field3" class="form-control">
</div>
<div class="form-group">
  <label for="field4">Large</label>
  <input type="text" id="field4" class="form-control form-control-lg">
</div>
<div class="form-group">
  <label for="field5">Full width</label>
  <input type="text" id="field5" class="form-control form-control-full">
</div>

*/

.form-control {
  background-color: var(--input-bg);
  border: var(--input-border-width) solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  box-shadow: none;
  color: var(--input-color);
  display: block;
  font-size: var(--font-size-base);
  line-height: var(--input-line-height);
  padding: var(--input-padding-y) var(--input-padding-x);
  resize: none;
  text-align: left;
  transition: var(--input-transition);
  width: var(--input-size-base);

  &:hover {
    border-color: var(--input-border-color-hover);
  }

  &[disabled] {
    background-color: var(--input-bg-disabled);
    border: solid 1px var(--input-border-color-disabled);
    color: var(--input-color-disabled);
    /* iOS fix for unreadable disabled content */
    opacity: 1;
  }

  &[readonly] {
    background-color: var(--input-bg-readonly);
    border-color: var(--input-border-color-readonly);
    color: var(--input-color-readonly);
  }

  &::placeholder {
    color: var(--input-placeholder-color);
    /* Override Firefox's unusual default opacity */
    opacity: 1;
  }

  &:focus {
    border: 1px solid var(--input-border-color-focus);
    outline: 0;
    outline-color: transparent;
  }

  &.form-control-xs { width: var(--input-size-xs); }
  &.form-control-sm { width: var(--input-size-sm); }
  &.form-control-lg { width: var(--input-size-lg); }
  &.form-control-full { width: var(--input-size-full); }
}

.form-group {
  margin-bottom: 20px;

  label,
  .info-block {
    display: block;
    font-size: 1.2rem;
    line-height: 13px;
  }

  label {
    color: var(--graphite06);
    margin-bottom: 5px;

    &.required::after {
      color: var(--alert-red);
      content: '*';
      display: inline;
      position: relative;
      left: 2px;
      top: 2px;
      font-size: var(--font-size-lg);
    }
  }

  .info-block {
    margin-top: 5px;
  }

  &.has-error {
    .form-control {
      border-color: var(--alert-red);
    }

    &:focus {
      border-color: var(--alert-red);
      color: var(--input-color);
    }

    .info-block {
      color: var(--alert-red);
    }
  }
}
