/*

Variables

Table of Contents:
Body
Fonts
Headings

 */

:root {

  --body-bg-color:  var(--graphite01);
  --font-color: var(--graphite06);

  --font-family-base: Helvetica, Arial;


  --font-size-base: 1.4rem;
  --font-size-sm: 0.85rem;

  --font-size-small: 0.75rem;
  --font-size-h1: 2.8rem;
  --font-size-h2: 2.4rem;
  --font-size-h3: 2.0rem;
  --font-size-h4: 1.6rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;

  --font-weight-normal: normal;
  --font-weight-bold: bold;


  --headings-margin-bottom: 0.5rem;
  --headings-font-family: Helvetica, Arial;
  --headings-font-weight: 400;
  --headings-line-height: normal;
  --headings-color: var(--font-color);


  --btn-primary-color:            var(--white);
  --btn-primary-color-disabled:   var(--white);
  --btn-primary-bg:               var(--soho-primary);
  --btn-primary-disabled-color:   #F8F8F8; /* soho used opacity 0.5 */
  --btn-primary-disabled-bg:      #93BDD8;  /* soho used opacity 0.5 */
  --btn-primary-hover:            var(--azure07);

  --btn-secondary-color:          var(--graphite08);
  --btn-secondary-bg:             var(--soho-secondary);
  --btn-secondary-disabled-color: #949494;  /* soho used opacity 0.5 */
  --btn-secondary-disabled-bg:    #C4C4C4;  /* soho used opacity 0.5 */
  --btn-secondary-hover:          var(--graphite04);


  --btn-tertiary-color:           var(--graphite06);
  --btn-tertiary-bg:              transparent;
  --btn-tertiary-disabled-color:  #AAA;
  --btn-tertiary-disabled-bg:     var(--btn-tertiary-bg);
  --btn-tertiary-hover:           var(--graphite10);


}
