/*

Variables

Table of Contents:
Body
Fonts
Headings

 */

:root {

  --body-bg-color:  var(--graphite01);
  --font-color: var(--graphite06);

  --font-family-base: Helvetica, Arial;


  --font-size-base: 1rem;
  --font-size-sm: .85rem;

  --font-size-small: 0.75rem;
  --font-size-h1: 2.8rem;
  --font-size-h2: 2.4rem;
  --font-size-h3: 2.0rem;
  --font-size-h4: 1.6rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;

  --font-weight-normal: normal;
  --font-weight-bold: bold;


  --headings-margin-bottom: 0.5rem;
  --headings-font-family: Helvetica, Arial;
  --headings-font-weight: 400;
  --headings-line-height: normal;
  --headings-color: var(--font-color);


  --btn-font-weight: ;
  --btn-line-height: 0;
  --input-btn-border-width: 0;
  --btn-padding-y: 0;
  --btn-padding-x: 0;
  --font-size-base: 0;
  --btn-border-radius: 0;
  --btn-transition: 0;
  --btn-focus-box-shadow: 0;
  --cursor-disabled: 0;
  --btn-focus-box-shadow: 0;
  --btn-active-box-shadow: 0;


  --btn-primary-color: var(--soho-color-bg-primary);
  --btn-primary-bg: var(--soho-color-primary);
  --btn-primary-border: 1px solid var(--btn-primary-color);

  --btn-secondary-color: var(--soho-color-bg-secondary);
  --btn-secondary-bg: var(--soho-color-secondary);
  --btn-secondary-border: 1px solid var(--btn-secondary-color);

}
