/*
 * All selectors are named with `psg-` prefix to avoid name confliction.
 */

.psg-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/*
 * Menu bar
 */

.psg-menu {
  border-right: 1px solid #ddd;
  height: 100%;
  overflow-y: scroll;
  padding: 1.5rem 3.2rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 214px;
}

.psg-ComponentList--item {
  display: block;
  color: #3f526b;
  padding: 12px 8px;
}

.psg-ComponentList--item:hover {
  background-color: #eee;
}

/*
 * Main contents
 */

.psg-main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0%;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;
  margin-right: 215px;
}

.psg-title {
  width: 100%;
  padding: 40px 60px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.psg-container {
  margin: 50px 0;
}

.psg-section {
  max-width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}

.psg-contents > p,
.psg-contents > pre {
    margin: 2rem 0;
}

.psg-contents > pre {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  font-family: monospace;
  margin-bottom: 14px;
  padding: 9px 14px;
}

code {
  font-family: monospace;
}

hr.psg-separator {
  margin: 4rem 0;
  border: 0;
  border-top: 1px solid #ddd;
}

/*
 * Color Palette
 */

.psg-colorPalette {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.psg-colorBox {
  width: 158px;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 3rem;
}

.psg-colorBox--sample {
  height: 100px;
}

.psg-colorBox--name {
  padding: 1em;
  font-size: 1.4rem;
  text-align: center;
}
