@import '../iux-base/base';
@import '../iux-typography/typography';

html[lang='ar-EG'],
html[lang='ar-SA'] {
  font-family: 'Helvetica', 'Arial', 'Tahoma', 'DejaVu';
}

html[lang='ja-JP'] {
  font-family: 'Helvetica', 'Arial', 'MS PGothic';
}

html[lang='ko-KR'] {
  font-family: 'Helvetica', 'Arial', 'Batang', 'Gulim';
}

html[lang='zh-CN'] {
  font-family: 'Helvetica', 'Arial', 'Microsoft YaHei New', '微软雅黑', '宋体', 'SimSun', 'STXihei', '华文细黑';
}

html[lang='zh-tw'] {
  font-family: 'Helvetica', 'Arial', 'MingLiU';
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
}

h1,
.header--primary {
  font-size: var(--header-primary-font-size);
  margin-bottom: 10px;
  margin-top: 20px;
}

h2,
h3,
h4,
h5,
h6,
.header--secondary {
  font-size: var(--header-secondary-font-size);
  margin-bottom: 10px;
  margin-top: 20px;
}

p {
  line-height: var(--line-height-base);
  margin-bottom: 10px;
  margin-top: 0;
}

strong,
.text-strong {
  font-weight: var(--text-strong);
}

em,
.text-emphasis {
  font-style: italic;
}

small,
.text-small {
  font-size: var(--text-small);
  font-weight: var(--font-weight-normal);
}

.text-descriptive { color: var(--text-descriptive); }
.text-muted { color: var(--text-muted); }
.text-alert { color: var(--text-alert); }

a,
.text-link {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
  }

  &[disabled] {
    color: var(--link-color-disabled);
    cursor: not-allowed;

    & .icon {
      fill: var(--link-color-disabled);
    }
  }

  &:focus,
  &.has-focus {
    border-radius: 2px;
    box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 3px var(--btn-link-focus);
    outline: 0;
  }

  &:visited {
    color: var(--link-color-visited);

    & .icon {
      fill: var(--link-color-visited);
    }
  }

  & .icon {
    fill: var(--link-color-hover);
  }
}

/*
 * Lists
 */

ul,
ol {
  list-style-position: inside;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul ul,
ol ul {
  list-style-type: circle;
  margin-left: 15px;
}

ol ol,
ul ol {
  list-style-type: lower-latin;
  margin-left: 15px;
}

ol.iux-list--plain,
ul.iux-list--plain {
  list-style-type: none;
}

/* counter the "ul ul" and "ol ol" styles above */
ol.iux-list--plain ol.iux-list--plain,
ol.iux-list--plain ul.iux-list--plain,
ul.iux-list--plain ul.iux-list--plain,
ul.iux-list--plain ol.iux-list--plain {
  list-style-type: none;
  margin-left: 0;
}

