<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{{ file.meta.title }}} - Soho Foundation</title>
    <link rel="stylesheet" type="text/css" href="css/soho-foundation.min.css">
    <link rel="stylesheet" type="text/css" href="css/site.min.css">
    <meta name="description" content="{{{ file.meta.description }}}">
    <meta name="author" content="Hook & Loop">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="visuallyhidden">
      {{{ icons }}}
    </div>

    <nav class="top-nav">
      <a href="index.html" class="top-nav--link">Home</a>
    </nav>

    <div class="container fnd-grid">
      <nav class="fnd-grid--col-2 fnd-grid--col-md-2 sidebar">
        <h2>Elements</h2>
        <ul class="sidebar--list">
          <li><a href="buttons.html">Buttons</a></li>
          <li><a href="colors.html">Colors</a></li>
          <li><a href="grid.html">Grid</a></li>
          <li><a href="icons.html">Icons</a></li>
          <li><a href="forms.html">Forms</a></li>
          <li><a href="type.html">Typography</a></li>
        </ul>
      </nav>

      <section class="fnd-grid--col-10 fnd-grid--col-md-10 main">
        {{{ contents }}}
      </section>
    </div>

  </body>
</html>
