<!doctype html>
<html class="psg-theme" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Soho Foundation</title>
    <link rel="stylesheet" type="text/css" href="css/soho-foundation.min.css">
    <link rel="stylesheet" type="text/css" href="css/site.min.css">
  </head>
  <body>
    {{{ contents }}}
  </body>
</html>
